.elementor-228
    .elementor-element.elementor-element-1c850f6:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-228
    .elementor-element.elementor-element-1c850f6
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #001f4b;
}
.elementor-228 .elementor-element.elementor-element-1c850f6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-228
    .elementor-element.elementor-element-1c850f6
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-228
    .elementor-element.elementor-element-34ab1b7
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-228 .elementor-element.elementor-element-eabe8cf .ekit_social_media {
    text-align: center;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-7014c89
    > a {
    color: #ffffff;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-7014c89
    > a
    svg
    path {
    stroke: #ffffff;
    fill: #ffffff;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-7014c89
    > a:hover {
    color: #ff6e00;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-7014c89
    > a:hover
    svg
    path {
    stroke: #454545;
    fill: #454545;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-0087908
    > a {
    color: #ffffff;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-0087908
    > a
    svg
    path {
    stroke: #ffffff;
    fill: #ffffff;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-0087908
    > a:hover {
    color: #03dbfc;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-0087908
    > a:hover
    svg
    path {
    stroke: #454545;
    fill: #454545;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-4566d7d
    > a {
    color: #ffffff;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-4566d7d
    > a
    svg
    path {
    stroke: #ffffff;
    fill: #ffffff;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-4566d7d
    > a:hover {
    color: #03dbfc;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-4566d7d
    > a:hover
    svg
    path {
    stroke: #454545;
    fill: #454545;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-02b2f86
    > a {
    color: #ffffff;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-02b2f86
    > a
    svg
    path {
    stroke: #ffffff;
    fill: #ffffff;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-02b2f86
    > a:hover {
    color: #03dbfc;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-02b2f86
    > a:hover
    svg
    path {
    stroke: #454545;
    fill: #454545;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-b2017d6
    > a {
    color: #ffffff;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-b2017d6
    > a
    svg
    path {
    stroke: #ffffff;
    fill: #ffffff;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-b2017d6
    > a:hover {
    color: #03dbfc;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .elementor-repeater-item-b2017d6
    > a:hover
    svg
    path {
    stroke: #454545;
    fill: #454545;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .ekit_social_media
    > li
    > a {
    text-align: center;
    text-decoration: none;
    border-radius: 0% 0% 0% 0%;
    padding: 0px 0px 0px 0px;
    width: 200px;
    height: 30px;
    line-height: 28px;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .ekit_social_media
    > li {
    display: inline-block;
    margin: 5px 5px 5px 5px;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .ekit_social_media
    > li
    > a
    i {
    font-size: 21px;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    .ekit_social_media
    > li
    > a
    svg {
    max-width: 21px;
}
.elementor-228
    .elementor-element.elementor-element-eabe8cf
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-228 .elementor-element.elementor-element-2f75947 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-228
    .elementor-element.elementor-element-2f75947
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-228 .elementor-element.elementor-element-95dd3be {
    text-align: justify;
    color: #454545;
    font-family: "Jost", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}
.elementor-228
    .elementor-element.elementor-element-95dd3be
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
    .elementor-228
    .elementor-element.elementor-element-d50f7f8.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-228
    .elementor-element.elementor-element-d50f7f8.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-228
    .elementor-element.elementor-element-d50f7f8
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}
.elementor-228
    .elementor-element.elementor-element-d50f7f8:not(
        .elementor-motion-effects-element-type-background
    )
    > .elementor-widget-wrap,
.elementor-228
    .elementor-element.elementor-element-d50f7f8
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #02010100;
}
.elementor-228
    .elementor-element.elementor-element-d50f7f8
    > .elementor-element-populated,
.elementor-228
    .elementor-element.elementor-element-d50f7f8
    > .elementor-element-populated
    > .elementor-background-overlay,
.elementor-228
    .elementor-element.elementor-element-d50f7f8
    > .elementor-background-slideshow {
    border-radius: 4px 4px 4px 4px;
}
.elementor-228
    .elementor-element.elementor-element-d50f7f8
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 0px 0px 30px 100px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 100px;
}
.elementor-228
    .elementor-element.elementor-element-d50f7f8
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-228
    .elementor-element.elementor-element-9da573b
    .elementor-heading-title {
    color: #001f4b;
    font-family: "Jost", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.elementor-228
    .elementor-element.elementor-element-9da573b
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-228
    .elementor-element.elementor-element-0ac7428
    .elementor-icon-list-icon
    i {
    color: #001f4b;
}
.elementor-228
    .elementor-element.elementor-element-0ac7428
    .elementor-icon-list-icon
    svg {
    fill: #cf1224;
}
.elementor-228
    .elementor-element.elementor-element-0ac7428
    .elementor-icon-list-item:hover
    .elementor-icon-list-icon
    i {
    color: #454545;
}
.elementor-228
    .elementor-element.elementor-element-0ac7428
    .elementor-icon-list-item:hover
    .elementor-icon-list-icon
    svg {
    fill: #454545;
}
.elementor-228 .elementor-element.elementor-element-0ac7428 {
    --e-icon-list-icon-size: 12px;
}
.elementor-228
    .elementor-element.elementor-element-0ac7428
    .elementor-icon-list-text {
    color: #454545;
}
.elementor-228
    .elementor-element.elementor-element-0ac7428
    .elementor-icon-list-item:hover
    .elementor-icon-list-text {
    color: #ff6e00;
}
.elementor-228
    .elementor-element.elementor-element-0ac7428
    .elementor-icon-list-item
    > .elementor-icon-list-text,
.elementor-228
    .elementor-element.elementor-element-0ac7428
    .elementor-icon-list-item
    > a {
    font-family: "Jost", Sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.elementor-228
    .elementor-element.elementor-element-0ac7428
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
    .elementor-228
    .elementor-element.elementor-element-6c132d1.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-228
    .elementor-element.elementor-element-6c132d1.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
/*    align-content: center;*/
    align-items: center;
}
.elementor-228
    .elementor-element.elementor-element-6c132d1
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}
.elementor-228
    .elementor-element.elementor-element-6c132d1
    > .elementor-element-populated {
    margin: 10px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-228
    .elementor-element.elementor-element-58a549b
    .elementor-heading-title {
    color: #001f4b;
    font-family: "Jost", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.elementor-228
    .elementor-element.elementor-element-58a549b
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}
.elementor-228
    .elementor-element.elementor-element-d873d5d
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px / 2);
}
.elementor-228
    .elementor-element.elementor-element-d873d5d
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px / 2);
}
.elementor-228
    .elementor-element.elementor-element-d873d5d
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(8px / 2);
    margin-left: calc(8px / 2);
}
.elementor-228
    .elementor-element.elementor-element-d873d5d
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px / 2);
    margin-left: calc(-8px / 2);
}
body.rtl
    .elementor-228
    .elementor-element.elementor-element-d873d5d
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-8px / 2);
}
body:not(.rtl)
    .elementor-228
    .elementor-element.elementor-element-d873d5d
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-8px / 2);
}
.elementor-228
    .elementor-element.elementor-element-d873d5d
    .elementor-icon-list-icon
    i {
    color: #001f4b;
}
.elementor-228
    .elementor-element.elementor-element-d873d5d
    .elementor-icon-list-icon
    svg {
    fill: #cf1224;
}
.elementor-228
    .elementor-element.elementor-element-d873d5d
    .elementor-icon-list-item:hover
    .elementor-icon-list-icon
    i {
    color: #454545;
}
.elementor-228
    .elementor-element.elementor-element-d873d5d
    .elementor-icon-list-item:hover
    .elementor-icon-list-icon
    svg {
    fill: #454545;
}
.elementor-228 .elementor-element.elementor-element-d873d5d {
    --e-icon-list-icon-size: 12px;
}
.elementor-228
    .elementor-element.elementor-element-d873d5d
    .elementor-icon-list-text {
    color: #454545;
    padding-left: 16px;
}
.elementor-228
    .elementor-element.elementor-element-d873d5d
    .elementor-icon-list-item:hover
    .elementor-icon-list-text {
    color: #ff6e00;
}
.elementor-228
    .elementor-element.elementor-element-d873d5d
    .elementor-icon-list-item
    > .elementor-icon-list-text,
.elementor-228
    .elementor-element.elementor-element-d873d5d
    .elementor-icon-list-item
    > a {
    font-family: "Jost", Sans-serif;
    font-size: 12px;
    line-height: 1.5em;
}
.elementor-228
    .elementor-element.elementor-element-d873d5d
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}
.elementor-228
    .elementor-element.elementor-element-39bf1df3
    > .elementor-container {
    max-width: 1040px;
}
.elementor-228
    .elementor-element.elementor-element-39bf1df3
    > .elementor-background-overlay {
    opacity: 0.97;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-228 .elementor-element.elementor-element-39bf1df3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
    .elementor-228
    .elementor-element.elementor-element-7d884448.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-228
    .elementor-element.elementor-element-7d884448.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-228
    .elementor-element.elementor-element-7d884448
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-228
    .elementor-element.elementor-element-7d884448
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-228 .elementor-element.elementor-element-0d1b874 {
    --divider-border-style: solid;
    --divider-color: #8b8989;
    --divider-border-width: 1px;
}
.elementor-228
    .elementor-element.elementor-element-0d1b874
    .elementor-divider-separator {
    width: 100%;
}
.elementor-228 .elementor-element.elementor-element-0d1b874 .elementor-divider {
    padding-top: 2px;
    padding-bottom: 2px;
}
.elementor-228 .elementor-element.elementor-element-1fe7abcd {
    text-align: center;
}
.elementor-228
    .elementor-element.elementor-element-1fe7abcd
    .elementor-heading-title {
    color: #454545;
    font-family: "Jost", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.elementor-228
    .elementor-element.elementor-element-1fe7abcd
    > .elementor-widget-container {
    margin: 5px 0px 5px 0px;
}
@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-228 .elementor-element.elementor-element-80da4fd {
        width: 40%;
    }
    .elementor-228 .elementor-element.elementor-element-d50f7f8 {
        width: 30%;
    }
    .elementor-228 .elementor-element.elementor-element-6c132d1 {
        width: 30%;
    }
}
@media (max-width: 1024px) {
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .ekit_social_media
        > li
        > a {
        text-align: center;
        width: 129px;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-bc-flex-widget
        .elementor-228
        .elementor-element.elementor-element-80da4fd.elementor-column
        .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-228
        .elementor-element.elementor-element-80da4fd.elementor-column.elementor-element[data-element_type="column"]
        > .elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-228 .elementor-element.elementor-element-95dd3be {
        font-size: 8px;
    }
    .elementor-228
        .elementor-element.elementor-element-95dd3be
        > .elementor-widget-container {
        margin: -15px 0px 0px 0px;
    }
    .elementor-228
        .elementor-element.elementor-element-d50f7f8
        > .elementor-element-populated {
        margin: 0px 0px 70px 50px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 50px;
    }
    .elementor-228
        .elementor-element.elementor-element-9da573b
        .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-228
        .elementor-element.elementor-element-6c132d1
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-228
        .elementor-element.elementor-element-58a549b
        .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-228
        .elementor-element.elementor-element-58a549b
        > .elementor-widget-container {
        margin: 05px 0px 0px 0px;
    }
    .elementor-228
        .elementor-element.elementor-element-d873d5d
        > .elementor-widget-container {
        margin: 0px 0px 30px 0px;
    }
    .elementor-228
        .elementor-element.elementor-element-1fe7abcd
        .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-228
        .elementor-element.elementor-element-1fe7abcd
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}
@media (max-width: 767px) {
    .elementor-228 .elementor-element.elementor-element-1c850f6 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-228
        .elementor-element.elementor-element-34ab1b7
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .ekit_social_media {
        text-align: center;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-7014c89
        > a {
        color: #ffffff;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-7014c89
        > a
        svg
        path {
        stroke: #ffffff;
        fill: #ffffff;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-7014c89
        > a:hover {
        color: #454545;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-7014c89
        > a:hover
        svg
        path {
        stroke: #454545;
        fill: #454545;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-0087908
        > a {
        color: #ffffff;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-0087908
        > a
        svg
        path {
        stroke: #ffffff;
        fill: #ffffff;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-0087908
        > a:hover {
        color: #454545;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-0087908
        > a:hover
        svg
        path {
        stroke: #454545;
        fill: #454545;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-4566d7d
        > a {
        color: #ffffff;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-4566d7d
        > a
        svg
        path {
        stroke: #ffffff;
        fill: #ffffff;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-4566d7d
        > a:hover {
        color: #454545;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-4566d7d
        > a:hover
        svg
        path {
        stroke: #454545;
        fill: #454545;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-02b2f86
        > a {
        color: #ffffff;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-02b2f86
        > a
        svg
        path {
        stroke: #ffffff;
        fill: #ffffff;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-02b2f86
        > a:hover {
        color: #454545;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-02b2f86
        > a:hover
        svg
        path {
        stroke: #454545;
        fill: #454545;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-b2017d6
        > a {
        color: #ffffff;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-b2017d6
        > a
        svg
        path {
        stroke: #ffffff;
        fill: #ffffff;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-b2017d6
        > a:hover {
        color: #454545;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .elementor-repeater-item-b2017d6
        > a:hover
        svg
        path {
        stroke: #454545;
        fill: #454545;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .ekit_social_media
        > li
        > a {
        text-align: center;
        width: 51px;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .ekit_social_media
        > li
        > a
        i {
        font-size: 16px;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        .ekit_social_media
        > li
        > a
        svg {
        max-width: 16px;
    }
    .elementor-228
        .elementor-element.elementor-element-eabe8cf
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-228 .elementor-element.elementor-element-2f75947 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 20px 0px 20px;
    }
    .elementor-228 .elementor-element.elementor-element-95dd3be {
        text-align: center;
        font-size: 12px;
    }
    .elementor-228
        .elementor-element.elementor-element-95dd3be
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-228 .elementor-element.elementor-element-d50f7f8 {
        width: 40%;
    }
    .elementor-228
        .elementor-element.elementor-element-d50f7f8
        > .elementor-element-populated {
        margin: 0px 0px 60px 10px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 10px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-228 .elementor-element.elementor-element-9da573b {
        text-align: left;
    }
    .elementor-228
        .elementor-element.elementor-element-9da573b
        .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-228 .elementor-element.elementor-element-0ac7428 {
        --e-icon-list-icon-size: 8px;
    }
    .elementor-228
        .elementor-element.elementor-element-0ac7428
        .elementor-icon-list-item
        > .elementor-icon-list-text,
    .elementor-228
        .elementor-element.elementor-element-0ac7428
        .elementor-icon-list-item
        > a {
        font-size: 10px;
    }
    .elementor-228 .elementor-element.elementor-element-6c132d1 {
        width: 60%;
    }
    .elementor-228
        .elementor-element.elementor-element-6c132d1
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-228 .elementor-element.elementor-element-58a549b {
        text-align: left;
    }
    .elementor-228
        .elementor-element.elementor-element-58a549b
        .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-228
        .elementor-element.elementor-element-58a549b
        > .elementor-widget-container {
        margin: 35px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-228
        .elementor-element.elementor-element-d873d5d
        .elementor-icon-list-items:not(.elementor-inline-items)
        .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(10px / 2);
    }
    .elementor-228
        .elementor-element.elementor-element-d873d5d
        .elementor-icon-list-items:not(.elementor-inline-items)
        .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(10px / 2);
    }
    .elementor-228
        .elementor-element.elementor-element-d873d5d
        .elementor-icon-list-items.elementor-inline-items
        .elementor-icon-list-item {
        margin-right: calc(10px / 2);
        margin-left: calc(10px / 2);
    }
    .elementor-228
        .elementor-element.elementor-element-d873d5d
        .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-10px / 2);
        margin-left: calc(-10px / 2);
    }
    body.rtl
        .elementor-228
        .elementor-element.elementor-element-d873d5d
        .elementor-icon-list-items.elementor-inline-items
        .elementor-icon-list-item:after {
        left: calc(-10px / 2);
    }
    body:not(.rtl)
        .elementor-228
        .elementor-element.elementor-element-d873d5d
        .elementor-icon-list-items.elementor-inline-items
        .elementor-icon-list-item:after {
        right: calc(-10px / 2);
    }
    .elementor-228 .elementor-element.elementor-element-d873d5d {
        --e-icon-list-icon-size: 8px;
    }
    .elementor-228
        .elementor-element.elementor-element-d873d5d
        .elementor-icon-list-item
        > .elementor-icon-list-text,
    .elementor-228
        .elementor-element.elementor-element-d873d5d
        .elementor-icon-list-item
        > a {
        font-size: 11px;
    }
    .elementor-228
        .elementor-element.elementor-element-d873d5d
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-228 .elementor-element.elementor-element-39bf1df3 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-228
        .elementor-element.elementor-element-1fe7abcd
        .elementor-heading-title {
        font-size: 14px;
    }
}
