.elementor-29
    .elementor-element.elementor-element-1c3685c1
    > .elementor-container {
    min-height: 50vh;
}
.elementor-29
    .elementor-element.elementor-element-1c3685c1:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-29
    .elementor-element.elementor-element-1c3685c1
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
    background-image: url("../../2022/11/JMJ.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-29
    .elementor-element.elementor-element-1c3685c1
    > .elementor-background-overlay {
    background-color: #000000b5;
    opacity: 0.72;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-1c3685c1 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 4em 4em 4em 4em;
}
.elementor-bc-flex-widget
    .elementor-29
    .elementor-element.elementor-element-50793d6f.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-29
    .elementor-element.elementor-element-50793d6f.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-29
    .elementor-element.elementor-element-50793d6f.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
}
.elementor-29
    .elementor-element.elementor-element-50793d6f:not(
        .elementor-motion-effects-element-type-background
    )
    > .elementor-widget-wrap,
.elementor-29
    .elementor-element.elementor-element-50793d6f
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-29
    .elementor-element.elementor-element-50793d6f
    > .elementor-element-populated
    > .elementor-background-overlay {
    opacity: 0.14;
}
.elementor-29
    .elementor-element.elementor-element-50793d6f
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 80px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 2em 2em 2em 2em;
}
.elementor-29
    .elementor-element.elementor-element-50793d6f
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29
    .elementor-element.elementor-element-40a7d2c0
    > .elementor-container {
    max-width: 700px;
}
.elementor-29
    .elementor-element.elementor-element-53d22b58
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-29 .elementor-element.elementor-element-368331f7 {
    text-align: center;
}
.elementor-29
    .elementor-element.elementor-element-368331f7
    .elementor-heading-title {
    color: #000000;
    font-family: "Lato", Sans-serif;
    font-size: 1rem;
    text-transform: capitalize;
    line-height: 3.6em;
}
.elementor-29
    .elementor-element.elementor-element-368331f7
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}
.elementor-29 .elementor-element.elementor-element-16ba3e3e {
    text-align: center;
}
.elementor-29
    .elementor-element.elementor-element-16ba3e3e
    .elementor-heading-title {
    color: #1e1e1e;
    font-family: "Cormorant Infant", Sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    line-height: 0.9em;
    letter-spacing: -1.3px;
}
.elementor-29
    .elementor-element.elementor-element-16ba3e3e
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 0em 0em 0em 0em;
}
.elementor-29 .elementor-element.elementor-element-28a110 {
    text-align: center;
    color: #000000;
    font-family: "Lora", Sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: none;
    font-style: italic;
    text-decoration: none;
    line-height: 1.7em;
}
.elementor-29
    .elementor-element.elementor-element-28a110
    > .elementor-widget-container {
    margin: 0% 0% -5% 0%;
    padding: 0em 0em 0em 0em;
}
.elementor-29 .elementor-element.elementor-element-3259df57 {
    text-align: center;
}
.elementor-29
    .elementor-element.elementor-element-3259df57
    .elementor-heading-title {
    color: #1e1e1e;
    font-family: "Cormorant Infant", Sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    line-height: 0.9em;
    letter-spacing: -1.3px;
}
.elementor-29
    .elementor-element.elementor-element-3259df57
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 0em 0em 0em 0em;
}
.elementor-29 .elementor-element.elementor-element-209cc8fe {
    text-align: center;
    color: #000000;
    font-family: "Lora", Sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-transform: none;
    font-style: italic;
    text-decoration: none;
    line-height: 1.7em;
}
.elementor-29
    .elementor-element.elementor-element-209cc8fe
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 0em 0em 0em 0em;
}
.elementor-29
    .elementor-element.elementor-element-70dcb2e7
    > .elementor-container {
    min-height: 314px;
}
.elementor-29 .elementor-element.elementor-element-70dcb2e7 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0em 0em 0em 0em;
}
.elementor-bc-flex-widget
    .elementor-29
    .elementor-element.elementor-element-512b2368.elementor-column
    .elementor-widget-wrap {
    align-items: flex-start;
}
.elementor-29
    .elementor-element.elementor-element-512b2368.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}
.elementor-29
    .elementor-element.elementor-element-512b2368
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0em 0em 0em 0em;
}
.elementor-29
    .elementor-element.elementor-element-512b2368
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
    .elementor-29
    .elementor-element.elementor-element-738aa23.elementor-column
    .elementor-widget-wrap {
    align-items: flex-start;
}
.elementor-29
    .elementor-element.elementor-element-738aa23.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}
.elementor-29
    .elementor-element.elementor-element-738aa23
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}
.elementor-29
    .elementor-element.elementor-element-738aa23
    > .elementor-element-populated {
    padding: 2em 2em 2em 1em;
}
.elementor-29 .elementor-element.elementor-element-2903cf34 {
    text-align: center;
    color: #000000;
    font-family: "Lora", Sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: none;
    font-style: italic;
    text-decoration: none;
    line-height: 1.7em;
}
.elementor-29
    .elementor-element.elementor-element-2903cf34
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 0em 0em 0em 0em;
}
.elementor-29 .elementor-element.elementor-element-50c84792 {
    text-align: center;
}
.elementor-29
    .elementor-element.elementor-element-50c84792
    .elementor-heading-title {
    color: #2d2d2d;
    font-family: "Cormorant Infant", Sans-serif;
    font-size: 4rem;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: -0.5px;
}
.elementor-29
    .elementor-element.elementor-element-50c84792
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 1em 0em 1em 0em;
}
.elementor-29 .elementor-element.elementor-element-108aaa78 {
    text-align: center;
    color: #000000;
    font-family: "Lora", Sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: none;
    font-style: italic;
    text-decoration: none;
    line-height: 1.7em;
}
.elementor-29
    .elementor-element.elementor-element-108aaa78
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 0em 0em 0em 0em;
}
.elementor-29 .elementor-element.elementor-element-76a62445 .ekit-btn-wraper {
    text-align: center;
}
.elementor-29 .elementor-element.elementor-element-76a62445 .elementskit-btn {
    padding: 10px 20px 10px 20px;
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    background-color: #cf1224;
    border-style: none;
    border-color: #ffffff;
    border-radius: 999px 999px 999px 999px;
}
.elementor-29
    .elementor-element.elementor-element-76a62445
    .elementskit-btn:hover {
    color: #ffffff;
    background-color: #d9515e;
    border-color: #4f5fcd;
}
.elementor-29
    .elementor-element.elementor-element-76a62445
    .elementskit-btn:hover
    svg
    path {
    stroke: #ffffff;
    fill: #ffffff;
}
.elementor-29
    .elementor-element.elementor-element-76a62445
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-29
    .elementor-element.elementor-element-451c3007:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-29
    .elementor-element.elementor-element-451c3007
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-29 .elementor-element.elementor-element-451c3007 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-29
    .elementor-element.elementor-element-451c3007
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29
    .elementor-element.elementor-element-5c29832a
    .elementor-tab-title,
.elementor-29
    .elementor-element.elementor-element-5c29832a
    .elementor-tab-title:before,
.elementor-29
    .elementor-element.elementor-element-5c29832a
    .elementor-tab-title:after,
.elementor-29
    .elementor-element.elementor-element-5c29832a
    .elementor-tab-content,
.elementor-29
    .elementor-element.elementor-element-5c29832a
    .elementor-tabs-content-wrapper {
    border-width: 1px;
}
.elementor-29
    .elementor-element.elementor-element-5c29832a
    .elementor-tab-title,
.elementor-29
    .elementor-element.elementor-element-5c29832a
    .elementor-tab-title
    a {
    color: #cf1224;
}
.elementor-29
    .elementor-element.elementor-element-5c29832a
    .elementor-tab-title.elementor-active,
.elementor-29
    .elementor-element.elementor-element-5c29832a
    .elementor-tab-title.elementor-active
    a {
    color: #4c4c4c;
}
.elementor-29
    .elementor-element.elementor-element-5c29832a
    .elementor-tab-title {
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}
.elementor-29
    .elementor-element.elementor-element-5c29832a
    .elementor-tab-content {
    color: #000000;
    font-family: "Jost", Sans-serif;
    font-weight: 400;
}
.elementor-29 .elementor-element.elementor-element-75a6745 .elementor-tab-title,
.elementor-29
    .elementor-element.elementor-element-75a6745
    .elementor-tab-title:before,
.elementor-29
    .elementor-element.elementor-element-75a6745
    .elementor-tab-title:after,
.elementor-29
    .elementor-element.elementor-element-75a6745
    .elementor-tab-content,
.elementor-29
    .elementor-element.elementor-element-75a6745
    .elementor-tabs-content-wrapper {
    border-width: 1px;
}
.elementor-29 .elementor-element.elementor-element-75a6745 .elementor-tab-title,
.elementor-29
    .elementor-element.elementor-element-75a6745
    .elementor-tab-title
    a {
    color: #cf1224;
}
.elementor-29
    .elementor-element.elementor-element-75a6745
    .elementor-tab-title.elementor-active,
.elementor-29
    .elementor-element.elementor-element-75a6745
    .elementor-tab-title.elementor-active
    a {
    color: #4c4c4c;
}
.elementor-29
    .elementor-element.elementor-element-75a6745
    .elementor-tab-title {
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}
.elementor-29
    .elementor-element.elementor-element-75a6745
    .elementor-tab-content {
    color: #000000;
    font-family: "Jost", Sans-serif;
    font-weight: 400;
}
.elementor-29
    .elementor-element.elementor-element-7c6eaab6
    .elementor-tab-title,
.elementor-29
    .elementor-element.elementor-element-7c6eaab6
    .elementor-tab-title:before,
.elementor-29
    .elementor-element.elementor-element-7c6eaab6
    .elementor-tab-title:after,
.elementor-29
    .elementor-element.elementor-element-7c6eaab6
    .elementor-tab-content,
.elementor-29
    .elementor-element.elementor-element-7c6eaab6
    .elementor-tabs-content-wrapper {
    border-width: 1px;
}
.elementor-29
    .elementor-element.elementor-element-7c6eaab6
    .elementor-tab-title,
.elementor-29
    .elementor-element.elementor-element-7c6eaab6
    .elementor-tab-title
    a {
    color: #cf1224;
}
.elementor-29
    .elementor-element.elementor-element-7c6eaab6
    .elementor-tab-title.elementor-active,
.elementor-29
    .elementor-element.elementor-element-7c6eaab6
    .elementor-tab-title.elementor-active
    a {
    color: #4c4c4c;
}
.elementor-29
    .elementor-element.elementor-element-7c6eaab6
    .elementor-tab-title {
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}
.elementor-29
    .elementor-element.elementor-element-7c6eaab6
    .elementor-tab-content {
    color: #000000;
    font-family: "Jost", Sans-serif;
    font-weight: 400;
}
.elementor-29
    .elementor-element.elementor-element-3933f16:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-29
    .elementor-element.elementor-element-3933f16
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-29 .elementor-element.elementor-element-3933f16 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-29
    .elementor-element.elementor-element-3933f16
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-f96b706 .elementor-tab-title,
.elementor-29
    .elementor-element.elementor-element-f96b706
    .elementor-tab-title:before,
.elementor-29
    .elementor-element.elementor-element-f96b706
    .elementor-tab-title:after,
.elementor-29
    .elementor-element.elementor-element-f96b706
    .elementor-tab-content,
.elementor-29
    .elementor-element.elementor-element-f96b706
    .elementor-tabs-content-wrapper {
    border-width: 1px;
}
.elementor-29 .elementor-element.elementor-element-f96b706 .elementor-tab-title,
.elementor-29
    .elementor-element.elementor-element-f96b706
    .elementor-tab-title
    a {
    color: #cf1224;
}
.elementor-29
    .elementor-element.elementor-element-f96b706
    .elementor-tab-title.elementor-active,
.elementor-29
    .elementor-element.elementor-element-f96b706
    .elementor-tab-title.elementor-active
    a {
    color: #4c4c4c;
}
.elementor-29
    .elementor-element.elementor-element-f96b706
    .elementor-tab-title {
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}
.elementor-29
    .elementor-element.elementor-element-f96b706
    .elementor-tab-content {
    color: #000000;
    font-family: "Jost", Sans-serif;
    font-weight: 400;
}
.elementor-29 .elementor-element.elementor-element-8bde6f0 .elementor-tab-title,
.elementor-29
    .elementor-element.elementor-element-8bde6f0
    .elementor-tab-title:before,
.elementor-29
    .elementor-element.elementor-element-8bde6f0
    .elementor-tab-title:after,
.elementor-29
    .elementor-element.elementor-element-8bde6f0
    .elementor-tab-content,
.elementor-29
    .elementor-element.elementor-element-8bde6f0
    .elementor-tabs-content-wrapper {
    border-width: 1px;
}
.elementor-29 .elementor-element.elementor-element-8bde6f0 .elementor-tab-title,
.elementor-29
    .elementor-element.elementor-element-8bde6f0
    .elementor-tab-title
    a {
    color: #cf1224;
}
.elementor-29
    .elementor-element.elementor-element-8bde6f0
    .elementor-tab-title.elementor-active,
.elementor-29
    .elementor-element.elementor-element-8bde6f0
    .elementor-tab-title.elementor-active
    a {
    color: #4c4c4c;
}
.elementor-29
    .elementor-element.elementor-element-8bde6f0
    .elementor-tab-title {
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}
.elementor-29
    .elementor-element.elementor-element-8bde6f0
    .elementor-tab-content {
    color: #000000;
    font-family: "Jost", Sans-serif;
    font-weight: 400;
}
.elementor-29 .elementor-element.elementor-element-1a4512d .elementor-tab-title,
.elementor-29
    .elementor-element.elementor-element-1a4512d
    .elementor-tab-title:before,
.elementor-29
    .elementor-element.elementor-element-1a4512d
    .elementor-tab-title:after,
.elementor-29
    .elementor-element.elementor-element-1a4512d
    .elementor-tab-content,
.elementor-29
    .elementor-element.elementor-element-1a4512d
    .elementor-tabs-content-wrapper {
    border-width: 1px;
}
.elementor-29 .elementor-element.elementor-element-1a4512d .elementor-tab-title,
.elementor-29
    .elementor-element.elementor-element-1a4512d
    .elementor-tab-title
    a {
    color: #cf1224;
}
.elementor-29
    .elementor-element.elementor-element-1a4512d
    .elementor-tab-title.elementor-active,
.elementor-29
    .elementor-element.elementor-element-1a4512d
    .elementor-tab-title.elementor-active
    a {
    color: #4c4c4c;
}
.elementor-29
    .elementor-element.elementor-element-1a4512d
    .elementor-tab-title {
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}
.elementor-29
    .elementor-element.elementor-element-1a4512d
    .elementor-tab-content {
    color: #000000;
    font-family: "Jost", Sans-serif;
    font-weight: 400;
}
.elementor-29
    .elementor-element.elementor-element-4b8d4288
    > .elementor-container {
    min-height: 50vh;
}
.elementor-29
    .elementor-element.elementor-element-4b8d4288:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-29
    .elementor-element.elementor-element-4b8d4288
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
    background-image: url("../../2022/11/JMJ.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-29
    .elementor-element.elementor-element-4b8d4288
    > .elementor-background-overlay {
    background-color: #000000d4;
    opacity: 0.72;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29 .elementor-element.elementor-element-4b8d4288 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 4em 4em 4em 4em;
}
.elementor-bc-flex-widget
    .elementor-29
    .elementor-element.elementor-element-1af1448e.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-29
    .elementor-element.elementor-element-1af1448e.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-29
    .elementor-element.elementor-element-1af1448e.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
}
.elementor-29
    .elementor-element.elementor-element-1af1448e:not(
        .elementor-motion-effects-element-type-background
    )
    > .elementor-widget-wrap,
.elementor-29
    .elementor-element.elementor-element-1af1448e
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-29
    .elementor-element.elementor-element-1af1448e
    > .elementor-element-populated
    > .elementor-background-overlay {
    opacity: 0.14;
}
.elementor-29
    .elementor-element.elementor-element-1af1448e
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-29
    .elementor-element.elementor-element-1af1448e
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29
    .elementor-element.elementor-element-f751ecf
    > .elementor-container {
    max-width: 700px;
}
.elementor-29 .elementor-element.elementor-element-74cc5edb {
    text-align: center;
}
.elementor-29
    .elementor-element.elementor-element-74cc5edb
    .elementor-heading-title {
    color: #000000;
    font-family: "Lato", Sans-serif;
    font-size: 1rem;
    text-transform: capitalize;
    line-height: 3.6em;
}
.elementor-29
    .elementor-element.elementor-element-74cc5edb
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}
.elementor-29 .elementor-element.elementor-element-14f21a4b {
    text-align: center;
}
.elementor-29
    .elementor-element.elementor-element-14f21a4b
    .elementor-heading-title {
    color: #1e1e1e;
    font-family: "Cormorant Infant", Sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    line-height: 0.9em;
    letter-spacing: -1.3px;
}
.elementor-29
    .elementor-element.elementor-element-14f21a4b
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 0em 0em 0em 0em;
}
.elementor-29 .elementor-element.elementor-element-33012b28 {
    text-align: center;
    color: #000000;
    font-family: "Lora", Sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-transform: none;
    font-style: italic;
    text-decoration: none;
    line-height: 1.7em;
}
.elementor-29
    .elementor-element.elementor-element-33012b28
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 0em 0em 0em 0em;
}
.elementor-29
    .elementor-element.elementor-element-4df87bde
    > .elementor-container {
    min-height: 314px;
}
.elementor-29 .elementor-element.elementor-element-4df87bde {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0em 0em 0em 0em;
}
.elementor-bc-flex-widget
    .elementor-29
    .elementor-element.elementor-element-27e5c35.elementor-column
    .elementor-widget-wrap {
    align-items: flex-start;
}
.elementor-29
    .elementor-element.elementor-element-27e5c35.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}
.elementor-29
    .elementor-element.elementor-element-27e5c35
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}
.elementor-29
    .elementor-element.elementor-element-27e5c35
    > .elementor-element-populated {
    padding: 2em 2em 2em 1em;
}
.elementor-29 .elementor-element.elementor-element-745dd29a {
    text-align: center;
}
.elementor-29
    .elementor-element.elementor-element-745dd29a
    .elementor-heading-title {
    color: #000000;
    font-family: "Lato", Sans-serif;
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.elementor-29
    .elementor-element.elementor-element-745dd29a
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 1em 0em 1em 0em;
}
.elementor-29 .elementor-element.elementor-element-89f2e29 {
    text-align: left;
    color: #000000;
    font-family: "Lora", Sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-transform: none;
    font-style: italic;
    text-decoration: none;
    line-height: 1.7em;
}
.elementor-29
    .elementor-element.elementor-element-89f2e29
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 0em 0em 0em 0em;
}
.elementor-29 .elementor-element.elementor-element-6c02567c {
    text-align: center;
}
.elementor-29
    .elementor-element.elementor-element-6c02567c
    .elementor-heading-title {
    color: #2d2d2d;
    font-family: "Cormorant Infant", Sans-serif;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: -0.5px;
}
.elementor-29
    .elementor-element.elementor-element-6c02567c
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 1em 0em 1em 0em;
}
.elementor-bc-flex-widget
    .elementor-29
    .elementor-element.elementor-element-7b045e2f.elementor-column
    .elementor-widget-wrap {
    align-items: flex-start;
}
.elementor-29
    .elementor-element.elementor-element-7b045e2f.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}
.elementor-29
    .elementor-element.elementor-element-7b045e2f
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}
.elementor-29
    .elementor-element.elementor-element-7b045e2f
    > .elementor-element-populated {
    padding: 2em 2em 2em 1em;
}
.elementor-29 .elementor-element.elementor-element-b8d2d1f {
    text-align: center;
}
.elementor-29
    .elementor-element.elementor-element-b8d2d1f
    .elementor-heading-title {
    color: #000000;
    font-family: "Lato", Sans-serif;
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.elementor-29
    .elementor-element.elementor-element-b8d2d1f
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 1em 0em 1em 0em;
}
.elementor-29 .elementor-element.elementor-element-d437a90 {
    text-align: left;
    color: #000000;
    font-family: "Lora", Sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-transform: none;
    font-style: italic;
    text-decoration: none;
    line-height: 1.7em;
}
.elementor-29
    .elementor-element.elementor-element-d437a90
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 0em 0em 0em 0em;
}
.elementor-29 .elementor-element.elementor-element-6c7f803e {
    text-align: center;
}
.elementor-29
    .elementor-element.elementor-element-6c7f803e
    .elementor-heading-title {
    color: #2d2d2d;
    font-family: "Cormorant Infant", Sans-serif;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: -0.5px;
}
.elementor-29
    .elementor-element.elementor-element-6c7f803e
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 1em 0em 1em 0em;
}
@media (min-width: 1025px) {
    .elementor-29
        .elementor-element.elementor-element-1c3685c1:not(
            .elementor-motion-effects-element-type-background
        ),
    .elementor-29
        .elementor-element.elementor-element-1c3685c1
        > .elementor-motion-effects-container
        > .elementor-motion-effects-layer {
        background-attachment: fixed;
    }
    .elementor-29
        .elementor-element.elementor-element-4b8d4288:not(
            .elementor-motion-effects-element-type-background
        ),
    .elementor-29
        .elementor-element.elementor-element-4b8d4288
        > .elementor-motion-effects-container
        > .elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}
@media (max-width: 1024px) {
    .elementor-29 .elementor-element.elementor-element-1c3685c1 {
        padding: 4em 4em 4em 4em;
    }
    .elementor-29
        .elementor-element.elementor-element-16ba3e3e
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-29
        .elementor-element.elementor-element-3259df57
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-29
        .elementor-element.elementor-element-50c84792
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-29
        .elementor-element.elementor-element-5c29832a
        .elementor-tab-title {
        font-size: 11px;
    }
    .elementor-29
        .elementor-element.elementor-element-75a6745
        .elementor-tab-title {
        font-size: 11px;
    }
    .elementor-29
        .elementor-element.elementor-element-7c6eaab6
        .elementor-tab-title {
        font-size: 11px;
    }
    .elementor-29
        .elementor-element.elementor-element-f96b706
        .elementor-tab-title {
        font-size: 11px;
    }
    .elementor-29
        .elementor-element.elementor-element-8bde6f0
        .elementor-tab-title {
        font-size: 11px;
    }
    .elementor-29
        .elementor-element.elementor-element-1a4512d
        .elementor-tab-title {
        font-size: 11px;
    }
    .elementor-29 .elementor-element.elementor-element-4b8d4288 {
        padding: 4em 4em 4em 4em;
    }
    .elementor-29
        .elementor-element.elementor-element-14f21a4b
        .elementor-heading-title {
        font-size: 1.8em;
    }
    .elementor-29
        .elementor-element.elementor-element-14f21a4b
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-29 .elementor-element.elementor-element-745dd29a {
        text-align: left;
    }
    .elementor-29
        .elementor-element.elementor-element-745dd29a
        > .elementor-widget-container {
        margin: 0px 0px 20px 0px;
        padding: 0em 0em 0em 0em;
    }
    .elementor-29
        .elementor-element.elementor-element-6c02567c
        .elementor-heading-title {
        font-size: 18px;
    }
    .elementor-29
        .elementor-element.elementor-element-6c02567c
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-29 .elementor-element.elementor-element-b8d2d1f {
        text-align: left;
    }
    .elementor-29
        .elementor-element.elementor-element-b8d2d1f
        > .elementor-widget-container {
        margin: 0px 0px 20px 0px;
        padding: 0em 0em 0em 0em;
    }
    .elementor-29
        .elementor-element.elementor-element-6c7f803e
        .elementor-heading-title {
        font-size: 18px;
    }
    .elementor-29
        .elementor-element.elementor-element-6c7f803e
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}
@media (max-width: 767px) {
    .elementor-29 .elementor-element.elementor-element-1c3685c1 {
        padding: 0px 10px 20px 10px;
    }
    .elementor-29
        .elementor-element.elementor-element-16ba3e3e
        .elementor-heading-title {
        font-size: 2.9rem;
    }
    .elementor-29
        .elementor-element.elementor-element-16ba3e3e
        > .elementor-widget-container {
        padding: 0em 0em 0em 0em;
    }
    .elementor-29 .elementor-element.elementor-element-28a110 {
        text-align: justify;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0px;
    }
    .elementor-29
        .elementor-element.elementor-element-28a110
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-29
        .elementor-element.elementor-element-3259df57
        .elementor-heading-title {
        font-size: 2.9rem;
    }
    .elementor-29
        .elementor-element.elementor-element-3259df57
        > .elementor-widget-container {
        padding: 0em 0em 0em 0em;
    }
    .elementor-29 .elementor-element.elementor-element-209cc8fe {
        text-align: justify;
    }
    .elementor-29
        .elementor-element.elementor-element-209cc8fe
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-29
        .elementor-element.elementor-element-2903cf34
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-29
        .elementor-element.elementor-element-50c84792
        .elementor-heading-title {
        font-size: 2.2rem;
    }
    .elementor-29
        .elementor-element.elementor-element-50c84792
        > .elementor-widget-container {
        padding: 0em 0em 0em 0em;
    }
    .elementor-29
        .elementor-element.elementor-element-108aaa78
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-29
        .elementor-element.elementor-element-76a62445
        .ekit-btn-wraper {
        text-align: center;
    }
    .elementor-29
        .elementor-element.elementor-element-76a62445
        .elementskit-btn {
        padding: 10px 12px 10px 12px;
    }
    .elementor-29
        .elementor-element.elementor-element-76a62445
        > .elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }
    .elementor-29 .elementor-element.elementor-element-451c3007 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 30px 0px 0px 0px;
    }
    .elementor-29
        .elementor-element.elementor-element-5c29832a
        .elementor-tab-title {
        font-size: 14px;
    }
    .elementor-29
        .elementor-element.elementor-element-75a6745
        .elementor-tab-title {
        font-size: 14px;
    }
    .elementor-29
        .elementor-element.elementor-element-7c6eaab6
        .elementor-tab-title {
        font-size: 14px;
    }
    .elementor-29 .elementor-element.elementor-element-3933f16 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 30px 0px 0px 0px;
    }
    .elementor-29
        .elementor-element.elementor-element-f96b706
        .elementor-tab-title {
        font-size: 14px;
    }
    .elementor-29
        .elementor-element.elementor-element-8bde6f0
        .elementor-tab-title {
        font-size: 14px;
    }
    .elementor-29
        .elementor-element.elementor-element-1a4512d
        .elementor-tab-title {
        font-size: 14px;
    }
    .elementor-29 .elementor-element.elementor-element-4b8d4288 {
        padding: 20px 10px 20px 10px;
    }
    .elementor-29
        .elementor-element.elementor-element-14f21a4b
        .elementor-heading-title {
        font-size: 1.5rem;
    }
    .elementor-29
        .elementor-element.elementor-element-14f21a4b
        > .elementor-widget-container {
        padding: 0em 0em 0em 0em;
    }
    .elementor-29 .elementor-element.elementor-element-33012b28 {
        text-align: justify;
    }
    .elementor-29
        .elementor-element.elementor-element-33012b28
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-29
        .elementor-element.elementor-element-745dd29a
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-29
        .elementor-element.elementor-element-89f2e29
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-29
        .elementor-element.elementor-element-6c02567c
        .elementor-heading-title {
        font-size: 16px;
    }
    .elementor-29
        .elementor-element.elementor-element-6c02567c
        > .elementor-widget-container {
        padding: 0em 0em 0em 0em;
    }
    .elementor-29
        .elementor-element.elementor-element-b8d2d1f
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-29
        .elementor-element.elementor-element-d437a90
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-29
        .elementor-element.elementor-element-6c7f803e
        .elementor-heading-title {
        font-size: 16px;
    }
    .elementor-29
        .elementor-element.elementor-element-6c7f803e
        > .elementor-widget-container {
        padding: 0em 0em 0em 0em;
    }
}
