.elementor-2874 .elementor-element.elementor-element-f16a49a {
    margin-top: 50px;
    margin-bottom: 50px;
}
.elementor-2874
    .elementor-element.elementor-element-c79d889
    .elementskit-section-title-wraper
    .elementskit-section-title {
    color: #000000;
    font-family: "Jost", Sans-serif;
}
.elementor-2874
    .elementor-element.elementor-element-c79d889
    .elementskit-section-title-wraper
    .elementskit-section-title
    > span {
    color: #000000;
}
.elementor-2874
    .elementor-element.elementor-element-c79d889
    .elementskit-section-title-wraper
    .elementskit-section-title:hover
    > span {
    color: #000000;
}
.elementor-2874
    .elementor-element.elementor-element-c79d889
    .elementskit-section-title-wraper
    .elementskit-section-subtitle {
    color: #000000;
    font-family: "Jost", Sans-serif;
}
.elementor-2874
    .elementor-element.elementor-element-c79d889
    .elementskit-section-title-wraper
    .elementskit-border-divider {
    width: 100px;
    background: linear-gradient(90deg, #cf1224 0%, #cf1224 100%);
}
.elementor-2874
    .elementor-element.elementor-element-c79d889
    .elementskit-section-title-wraper
    .elementskit-border-divider.elementskit-style-long {
    width: 100px;
    height: 4px;
    color: #cf1224;
}
.elementor-2874
    .elementor-element.elementor-element-c79d889
    .elementskit-section-title-wraper
    .elementskit-border-star {
    width: 100px;
    height: 4px;
    color: #cf1224;
}
.elementor-2874
    .elementor-element.elementor-element-c79d889
    .elementskit-section-title-wraper
    .elementskit-border-divider,
.elementor-2874
    .elementor-element.elementor-element-c79d889
    .elementskit-border-divider::before {
    height: 4px;
}
.elementor-2874
    .elementor-element.elementor-element-c79d889
    .elementskit-section-title-wraper
    .elementskit-border-divider:before {
    background-color: #cf1224;
    color: #cf1224;
}
.elementor-2874
    .elementor-element.elementor-element-c79d889
    .elementskit-section-title-wraper
    .elementskit-border-star:after {
    background-color: #cf1224;
}
.elementor-2874
    .elementor-element.elementor-element-6f2a4b5:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-2874
    .elementor-element.elementor-element-6f2a4b5
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-2874 .elementor-element.elementor-element-6f2a4b5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-2874
    .elementor-element.elementor-element-6f2a4b5
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2874 .elementor-element.elementor-element-dab3610 img {
    border-radius: 30px 30px 30px 30px;
}
.elementor-2874 .elementor-element.elementor-element-d78ffe7 {
    text-align: center;
}
.elementor-2874
    .elementor-element.elementor-element-d78ffe7
    .elementor-heading-title {
    color: #252525;
    font-family: "Jost", Sans-serif;
    font-size: 13px;
}
.elementor-2874 .elementor-element.elementor-element-b2123f7 .ekit-btn-wraper {
    text-align: center;
}
.elementor-2874 .elementor-element.elementor-element-b2123f7 .elementskit-btn {
    padding: 10px 20px 10px 20px;
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    background-color: #cf1224;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff;
    border-radius: 999px 999px 999px 999px;
}
.elementor-2874
    .elementor-element.elementor-element-b2123f7
    .elementskit-btn:hover {
    color: #ffffff;
    background-color: #454545;
    border-color: #4f5fcd;
}
.elementor-2874
    .elementor-element.elementor-element-b2123f7
    .elementskit-btn:hover
    svg
    path {
    stroke: #ffffff;
    fill: #ffffff;
}
.elementor-2874
    .elementor-element.elementor-element-b2123f7
    .elementskit-btn
    > i,
.elementor-2874
    .elementor-element.elementor-element-b2123f7
    .elementskit-btn
    > svg {
    margin-left: 5px;
}
.rtl
    .elementor-2874
    .elementor-element.elementor-element-b2123f7
    .elementskit-btn
    > i,
.rtl
    .elementor-2874
    .elementor-element.elementor-element-b2123f7
    .elementskit-btn
    > svg {
    margin-left: 0;
    margin-right: 5px;
}
.elementor-2874
    .elementor-element.elementor-element-b2123f7
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874 .elementor-element.elementor-element-83425b3 img {
    border-radius: 30px 30px 30px 30px;
}
.elementor-2874 .elementor-element.elementor-element-dd7befe {
    text-align: center;
}
.elementor-2874
    .elementor-element.elementor-element-dd7befe
    .elementor-heading-title {
    color: #252525;
    font-family: "Jost", Sans-serif;
    font-size: 13px;
}
.elementor-2874 .elementor-element.elementor-element-edc5136 .ekit-btn-wraper {
    text-align: center;
}
.elementor-2874 .elementor-element.elementor-element-edc5136 .elementskit-btn {
    padding: 10px 20px 10px 20px;
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    background-color: #cf1224;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff;
    border-radius: 999px 999px 999px 999px;
}
.elementor-2874
    .elementor-element.elementor-element-edc5136
    .elementskit-btn:hover {
    color: #ffffff;
    background-color: #454545;
    border-color: #4f5fcd;
}
.elementor-2874
    .elementor-element.elementor-element-edc5136
    .elementskit-btn:hover
    svg
    path {
    stroke: #ffffff;
    fill: #ffffff;
}
.elementor-2874
    .elementor-element.elementor-element-edc5136
    .elementskit-btn
    > i,
.elementor-2874
    .elementor-element.elementor-element-edc5136
    .elementskit-btn
    > svg {
    margin-left: 5px;
}
.rtl
    .elementor-2874
    .elementor-element.elementor-element-edc5136
    .elementskit-btn
    > i,
.rtl
    .elementor-2874
    .elementor-element.elementor-element-edc5136
    .elementskit-btn
    > svg {
    margin-left: 0;
    margin-right: 5px;
}
.elementor-2874
    .elementor-element.elementor-element-edc5136
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874 .elementor-element.elementor-element-e210574 img {
    border-radius: 30px 30px 30px 30px;
}
.elementor-2874
    .elementor-element.elementor-element-e210574
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874 .elementor-element.elementor-element-f5fa157 {
    text-align: center;
}
.elementor-2874
    .elementor-element.elementor-element-f5fa157
    .elementor-heading-title {
    color: #252525;
    font-family: "Jost", Sans-serif;
    font-size: 13px;
}
.elementor-2874 .elementor-element.elementor-element-4bf474b .ekit-btn-wraper {
    text-align: center;
}
.elementor-2874 .elementor-element.elementor-element-4bf474b .elementskit-btn {
    padding: 10px 20px 10px 20px;
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    background-color: #cf1224;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff;
    border-radius: 999px 999px 999px 999px;
}
.elementor-2874
    .elementor-element.elementor-element-4bf474b
    .elementskit-btn:hover {
    color: #ffffff;
    background-color: #454545;
    border-color: #4f5fcd;
}
.elementor-2874
    .elementor-element.elementor-element-4bf474b
    .elementskit-btn:hover
    svg
    path {
    stroke: #ffffff;
    fill: #ffffff;
}
.elementor-2874
    .elementor-element.elementor-element-4bf474b
    .elementskit-btn
    > i,
.elementor-2874
    .elementor-element.elementor-element-4bf474b
    .elementskit-btn
    > svg {
    margin-left: 5px;
}
.rtl
    .elementor-2874
    .elementor-element.elementor-element-4bf474b
    .elementskit-btn
    > i,
.rtl
    .elementor-2874
    .elementor-element.elementor-element-4bf474b
    .elementskit-btn
    > svg {
    margin-left: 0;
    margin-right: 5px;
}
.elementor-2874
    .elementor-element.elementor-element-4bf474b
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874
    .elementor-element.elementor-element-40b9cad:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-2874
    .elementor-element.elementor-element-40b9cad
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-2874 .elementor-element.elementor-element-40b9cad {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
}
.elementor-2874
    .elementor-element.elementor-element-40b9cad
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2874 .elementor-element.elementor-element-e87659d img {
    border-radius: 30px 30px 30px 30px;
}
.elementor-2874 .elementor-element.elementor-element-c48242d {
    text-align: center;
}
.elementor-2874
    .elementor-element.elementor-element-c48242d
    .elementor-heading-title {
    color: #252525;
    font-family: "Jost", Sans-serif;
    font-size: 11px;
}
.elementor-2874 .elementor-element.elementor-element-ec01098 .ekit-btn-wraper {
    text-align: center;
}
.elementor-2874 .elementor-element.elementor-element-ec01098 .elementskit-btn {
    padding: 10px 20px 10px 20px;
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    background-color: #001f4b;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff;
    border-radius: 999px 999px 999px 999px;
}
.elementor-2874
    .elementor-element.elementor-element-ec01098
    .elementskit-btn:hover {
    color: #ffffff;
    background-color: #03dbfc;
    border-color: #03dbfc;
}
.elementor-2874
    .elementor-element.elementor-element-ec01098
    .elementskit-btn:hover
    svg
    path {
    stroke: #ffffff;
    fill: #ffffff;
}
.elementor-2874
    .elementor-element.elementor-element-ec01098
    .elementskit-btn
    > i,
.elementor-2874
    .elementor-element.elementor-element-ec01098
    .elementskit-btn
    > svg {
    margin-left: 5px;
}
.rtl
    .elementor-2874
    .elementor-element.elementor-element-ec01098
    .elementskit-btn
    > i,
.rtl
    .elementor-2874
    .elementor-element.elementor-element-ec01098
    .elementskit-btn
    > svg {
    margin-left: 0;
    margin-right: 5px;
}
.elementor-2874
    .elementor-element.elementor-element-ec01098
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874 .elementor-element.elementor-element-458f54b img {
    border-radius: 30px 30px 30px 30px;
}
.elementor-2874 .elementor-element.elementor-element-b91f741 {
    text-align: center;
}
.elementor-2874
    .elementor-element.elementor-element-b91f741
    .elementor-heading-title {
    color: #252525;
    font-family: "Jost", Sans-serif;
    font-size: 13px;
}
.elementor-2874 .elementor-element.elementor-element-ecd1aa2 .ekit-btn-wraper {
    text-align: center;
}
.elementor-2874 .elementor-element.elementor-element-ecd1aa2 .elementskit-btn {
    padding: 10px 20px 10px 20px;
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    background-color: #cf1224;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff;
    border-radius: 999px 999px 999px 999px;
}
.elementor-2874
    .elementor-element.elementor-element-ecd1aa2
    .elementskit-btn:hover {
    color: #ffffff;
    background-color: #454545;
    border-color: #4f5fcd;
}
.elementor-2874
    .elementor-element.elementor-element-ecd1aa2
    .elementskit-btn:hover
    svg
    path {
    stroke: #ffffff;
    fill: #ffffff;
}
.elementor-2874
    .elementor-element.elementor-element-ecd1aa2
    .elementskit-btn
    > i,
.elementor-2874
    .elementor-element.elementor-element-ecd1aa2
    .elementskit-btn
    > svg {
    margin-left: 5px;
}
.rtl
    .elementor-2874
    .elementor-element.elementor-element-ecd1aa2
    .elementskit-btn
    > i,
.rtl
    .elementor-2874
    .elementor-element.elementor-element-ecd1aa2
    .elementskit-btn
    > svg {
    margin-left: 0;
    margin-right: 5px;
}
.elementor-2874
    .elementor-element.elementor-element-ecd1aa2
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874 .elementor-element.elementor-element-9c8ff7b img {
    border-radius: 30px 30px 30px 30px;
}
.elementor-2874 .elementor-element.elementor-element-f6d8098 {
    text-align: center;
}
.elementor-2874
    .elementor-element.elementor-element-f6d8098
    .elementor-heading-title {
    color: #252525;
    font-family: "Jost", Sans-serif;
    font-size: 13px;
}
.elementor-2874 .elementor-element.elementor-element-e823990 .ekit-btn-wraper {
    text-align: center;
}
.elementor-2874 .elementor-element.elementor-element-e823990 .elementskit-btn {
    padding: 10px 20px 10px 20px;
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    background-color: #cf1224;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff;
    border-radius: 999px 999px 999px 999px;
}
.elementor-2874
    .elementor-element.elementor-element-e823990
    .elementskit-btn:hover {
    color: #ffffff;
    background-color: #454545;
    border-color: #4f5fcd;
}
.elementor-2874
    .elementor-element.elementor-element-e823990
    .elementskit-btn:hover
    svg
    path {
    stroke: #ffffff;
    fill: #ffffff;
}
.elementor-2874
    .elementor-element.elementor-element-e823990
    .elementskit-btn
    > i,
.elementor-2874
    .elementor-element.elementor-element-e823990
    .elementskit-btn
    > svg {
    margin-left: 5px;
}
.rtl
    .elementor-2874
    .elementor-element.elementor-element-e823990
    .elementskit-btn
    > i,
.rtl
    .elementor-2874
    .elementor-element.elementor-element-e823990
    .elementskit-btn
    > svg {
    margin-left: 0;
    margin-right: 5px;
}
.elementor-2874
    .elementor-element.elementor-element-e823990
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874 .elementor-element.elementor-element-24b1a12 img {
    border-radius: 30px 30px 30px 30px;
}
.elementor-2874
    .elementor-element.elementor-element-24b1a12
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874 .elementor-element.elementor-element-db58eb4 {
    text-align: center;
}
.elementor-2874
    .elementor-element.elementor-element-db58eb4
    .elementor-heading-title {
    color: #252525;
    font-family: "Jost", Sans-serif;
    font-size: 11px;
}
.elementor-2874 .elementor-element.elementor-element-010c15f .ekit-btn-wraper {
    text-align: center;
}
.elementor-2874 .elementor-element.elementor-element-010c15f .elementskit-btn {
    padding: 10px 20px 10px 20px;
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    background-color: #cf1224;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff;
    border-radius: 999px 999px 999px 999px;
}
.elementor-2874
    .elementor-element.elementor-element-010c15f
    .elementskit-btn:hover {
    color: #ffffff;
    background-color: #454545;
    border-color: #4f5fcd;
}
.elementor-2874
    .elementor-element.elementor-element-010c15f
    .elementskit-btn:hover
    svg
    path {
    stroke: #ffffff;
    fill: #ffffff;
}
.elementor-2874
    .elementor-element.elementor-element-010c15f
    .elementskit-btn
    > i,
.elementor-2874
    .elementor-element.elementor-element-010c15f
    .elementskit-btn
    > svg {
    margin-left: 5px;
}
.rtl
    .elementor-2874
    .elementor-element.elementor-element-010c15f
    .elementskit-btn
    > i,
.rtl
    .elementor-2874
    .elementor-element.elementor-element-010c15f
    .elementskit-btn
    > svg {
    margin-left: 0;
    margin-right: 5px;
}
.elementor-2874
    .elementor-element.elementor-element-010c15f
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874
    .elementor-element.elementor-element-efd064c
    > .elementor-container {
    max-width: 1040px;
    text-align: center;
}
.elementor-2874
    .elementor-element.elementor-element-efd064c
    > .elementor-container
    > .elementor-column
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-2874
    .elementor-element.elementor-element-efd064c:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-2874
    .elementor-element.elementor-element-efd064c
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-2874
    .elementor-element.elementor-element-efd064c
    > .elementor-background-overlay {
    background-color: #ffffff;
    opacity: 0.97;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2874 .elementor-element.elementor-element-efd064c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 80px 0px 0px 0px;
}
.elementor-2874
    .elementor-element.elementor-element-700c06a
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 12px;
}
.elementor-2874
    .elementor-element.elementor-element-700c06a
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-2874
    .elementor-element.elementor-element-700c06a
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2874
    .elementor-element.elementor-element-01c23b3
    .elementor-heading-title {
    color: #cf1224;
    font-family: "Jost", Sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.elementor-2874
    .elementor-element.elementor-element-a2889fa
    .elementor-heading-title {
    color: rgba(0, 0, 0, 0.8);
    font-family: "Jost", Sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.1666em;
}
.elementor-2874 .elementor-element.elementor-element-04d8ef4 {
    --divider-border-style: solid;
    --divider-color: #cf1224;
    --divider-border-width: 4px;
}
.elementor-2874
    .elementor-element.elementor-element-04d8ef4
    .elementor-divider-separator {
    width: 86px;
    margin: 0 auto;
    margin-center: 0;
}
.elementor-2874
    .elementor-element.elementor-element-04d8ef4
    .elementor-divider {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.elementor-2874
    .elementor-element.elementor-element-e2100e8
    .elementor-heading-title {
    color: #000000;
    font-family: "Jost", Sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.15px;
}
.elementor-2874
    .elementor-element.elementor-element-e2100e8
    > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
}
.elementor-2874
    .elementor-element.elementor-element-a6f1828
    > .elementor-container {
    text-align: left;
}
.elementor-2874
    .elementor-element.elementor-element-de86b73
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}
.elementor-2874
    .elementor-element.elementor-element-de86b73:not(
        .elementor-motion-effects-element-type-background
    )
    > .elementor-widget-wrap,
.elementor-2874
    .elementor-element.elementor-element-de86b73
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-2874
    .elementor-element.elementor-element-de86b73:hover
    > .elementor-element-populated {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.elementor-2874
    .elementor-element.elementor-element-de86b73
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874
    .elementor-element.elementor-element-de86b73
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2874 .elementor-element.elementor-element-7b7d380 img {
    border-radius: 20px 20px 20px 20px;
}
.elementor-2874 .elementor-element.elementor-element-9dfca67 {
    text-align: center;
}
.elementor-2874
    .elementor-element.elementor-element-9dfca67
    .elementor-heading-title {
    color: #333333;
    font-family: "Jost", Sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.elementor-2874
    .elementor-element.elementor-element-9dfca67
    > .elementor-widget-container {
    margin: 0px 0px 16px 0px;
    padding: 24px 24px 0px 24px;
}
.elementor-2874
    .elementor-element.elementor-element-349a37a
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}
.elementor-2874
    .elementor-element.elementor-element-349a37a:not(
        .elementor-motion-effects-element-type-background
    )
    > .elementor-widget-wrap,
.elementor-2874
    .elementor-element.elementor-element-349a37a
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-2874
    .elementor-element.elementor-element-349a37a:hover
    > .elementor-element-populated {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.elementor-2874
    .elementor-element.elementor-element-349a37a
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874
    .elementor-element.elementor-element-349a37a
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2874 .elementor-element.elementor-element-a394b81 img {
    border-radius: 20px 20px 20px 20px;
}
.elementor-2874 .elementor-element.elementor-element-36e9f34 {
    text-align: center;
}
.elementor-2874
    .elementor-element.elementor-element-36e9f34
    .elementor-heading-title {
    color: #333333;
    font-family: "Jost", Sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.elementor-2874
    .elementor-element.elementor-element-36e9f34
    > .elementor-widget-container {
    margin: 0px 0px 16px 0px;
    padding: 24px 24px 0px 24px;
}
.elementor-2874
    .elementor-element.elementor-element-e0cb4ce
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}
.elementor-2874
    .elementor-element.elementor-element-e0cb4ce:not(
        .elementor-motion-effects-element-type-background
    )
    > .elementor-widget-wrap,
.elementor-2874
    .elementor-element.elementor-element-e0cb4ce
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-2874
    .elementor-element.elementor-element-e0cb4ce:hover
    > .elementor-element-populated {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.elementor-2874
    .elementor-element.elementor-element-e0cb4ce
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874
    .elementor-element.elementor-element-e0cb4ce
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2874 .elementor-element.elementor-element-4ed6a73 img {
    border-radius: 20px 20px 20px 20px;
}
.elementor-2874
    .elementor-element.elementor-element-4ed6a73
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874 .elementor-element.elementor-element-1c35276 {
    text-align: center;
}
.elementor-2874
    .elementor-element.elementor-element-1c35276
    .elementor-heading-title {
    color: #333333;
    font-family: "Jost", Sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.elementor-2874
    .elementor-element.elementor-element-1c35276
    > .elementor-widget-container {
    margin: 0px 0px 16px 0px;
    padding: 24px 24px 0px 24px;
}
.elementor-2874
    .elementor-element.elementor-element-2b06ea3
    > .elementor-container {
    max-width: 1040px;
    text-align: center;
}
.elementor-2874
    .elementor-element.elementor-element-2b06ea3
    > .elementor-container
    > .elementor-column
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-2874
    .elementor-element.elementor-element-2b06ea3:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-2874
    .elementor-element.elementor-element-2b06ea3
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-2874
    .elementor-element.elementor-element-2b06ea3
    > .elementor-background-overlay {
    background-color: #ffffff;
    opacity: 0.97;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2874 .elementor-element.elementor-element-2b06ea3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 80px 0px 0px 0px;
}
.elementor-2874
    .elementor-element.elementor-element-5cd7b0a
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 12px;
}
.elementor-2874
    .elementor-element.elementor-element-5cd7b0a
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-2874
    .elementor-element.elementor-element-5cd7b0a
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2874
    .elementor-element.elementor-element-b7988d8
    .elementor-heading-title {
    color: #cf1224;
    font-family: "Jost", Sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.elementor-2874
    .elementor-element.elementor-element-2841ad8
    .elementor-heading-title {
    color: rgba(0, 0, 0, 0.8);
    font-family: "Jost", Sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.1666em;
}
.elementor-2874 .elementor-element.elementor-element-54ff2b9 {
    --divider-border-style: solid;
    --divider-color: #cf1224;
    --divider-border-width: 4px;
}
.elementor-2874
    .elementor-element.elementor-element-54ff2b9
    .elementor-divider-separator {
    width: 86px;
    margin: 0 auto;
    margin-center: 0;
}
.elementor-2874
    .elementor-element.elementor-element-54ff2b9
    .elementor-divider {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.elementor-2874
    .elementor-element.elementor-element-042deaf
    .elementor-heading-title {
    color: #000000;
    font-family: "Jost", Sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.15px;
}
.elementor-2874
    .elementor-element.elementor-element-042deaf
    > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
}
.elementor-2874
    .elementor-element.elementor-element-f448c14
    > .elementor-container {
    text-align: left;
}
.elementor-2874
    .elementor-element.elementor-element-bc9b9c9
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}
.elementor-2874
    .elementor-element.elementor-element-bc9b9c9:not(
        .elementor-motion-effects-element-type-background
    )
    > .elementor-widget-wrap,
.elementor-2874
    .elementor-element.elementor-element-bc9b9c9
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-2874
    .elementor-element.elementor-element-bc9b9c9:hover
    > .elementor-element-populated {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.elementor-2874
    .elementor-element.elementor-element-bc9b9c9
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874
    .elementor-element.elementor-element-bc9b9c9
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2874 .elementor-element.elementor-element-342388f img {
    border-radius: 20px 20px 20px 20px;
}
.elementor-2874
    .elementor-element.elementor-element-18db932
    .elementor-heading-title {
    color: #333333;
    font-family: "Jost", Sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.elementor-2874
    .elementor-element.elementor-element-18db932
    > .elementor-widget-container {
    margin: 0px 0px 16px 0px;
    padding: 24px 24px 0px 24px;
}
.elementor-2874
    .elementor-element.elementor-element-9291e57
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}
.elementor-2874
    .elementor-element.elementor-element-9291e57:not(
        .elementor-motion-effects-element-type-background
    )
    > .elementor-widget-wrap,
.elementor-2874
    .elementor-element.elementor-element-9291e57
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-2874
    .elementor-element.elementor-element-9291e57:hover
    > .elementor-element-populated {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.elementor-2874
    .elementor-element.elementor-element-9291e57
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874
    .elementor-element.elementor-element-9291e57
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2874 .elementor-element.elementor-element-217cb35 img {
    border-radius: 20px 20px 20px 20px;
}
.elementor-2874
    .elementor-element.elementor-element-8a7a847
    .elementor-heading-title {
    color: #333333;
    font-family: "Jost", Sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.elementor-2874
    .elementor-element.elementor-element-8a7a847
    > .elementor-widget-container {
    margin: 0px 0px 16px 0px;
    padding: 24px 24px 0px 24px;
}
.elementor-2874
    .elementor-element.elementor-element-7f82dee
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}
.elementor-2874
    .elementor-element.elementor-element-7f82dee:not(
        .elementor-motion-effects-element-type-background
    )
    > .elementor-widget-wrap,
.elementor-2874
    .elementor-element.elementor-element-7f82dee
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-2874
    .elementor-element.elementor-element-7f82dee:hover
    > .elementor-element-populated {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.elementor-2874
    .elementor-element.elementor-element-7f82dee
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874
    .elementor-element.elementor-element-7f82dee
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2874 .elementor-element.elementor-element-5503e01 img {
    border-radius: 20px 20px 20px 20px;
}
.elementor-2874
    .elementor-element.elementor-element-5503e01
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874
    .elementor-element.elementor-element-e01d459
    .elementor-heading-title {
    color: #333333;
    font-family: "Jost", Sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.elementor-2874
    .elementor-element.elementor-element-e01d459
    > .elementor-widget-container {
    margin: 0px 0px 16px 0px;
    padding: 24px 24px 0px 24px;
}
.elementor-2874 .elementor-element.elementor-element-0142147 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.elementor-2874
    .elementor-element.elementor-element-f68a08a
    .elementskit-section-title-wraper
    .elementskit-section-title {
    font-family: "Jost", Sans-serif;
}
.elementor-2874
    .elementor-element.elementor-element-f68a08a
    .elementskit-section-title-wraper
    .elementskit-section-title
    > span {
    color: #000000;
}
.elementor-2874
    .elementor-element.elementor-element-f68a08a
    .elementskit-section-title-wraper
    .elementskit-section-title:hover
    > span {
    color: #000000;
}
.elementor-2874
    .elementor-element.elementor-element-f68a08a
    .elementskit-section-title-wraper
    .elementskit-section-subtitle {
    color: #000000;
    font-family: "Jost", Sans-serif;
}
.elementor-2874
    .elementor-element.elementor-element-f68a08a
    .elementskit-section-title-wraper
    .elementskit-border-divider {
    width: 100px;
    background: linear-gradient(90deg, #cf1224 0%, #cf1224 100%);
}
.elementor-2874
    .elementor-element.elementor-element-f68a08a
    .elementskit-section-title-wraper
    .elementskit-border-divider.elementskit-style-long {
    width: 100px;
    height: 4px;
    color: #cf1224;
}
.elementor-2874
    .elementor-element.elementor-element-f68a08a
    .elementskit-section-title-wraper
    .elementskit-border-star {
    width: 100px;
    height: 4px;
    color: #cf1224;
}
.elementor-2874
    .elementor-element.elementor-element-f68a08a
    .elementskit-section-title-wraper
    .elementskit-border-divider,
.elementor-2874
    .elementor-element.elementor-element-f68a08a
    .elementskit-border-divider::before {
    height: 4px;
}
.elementor-2874
    .elementor-element.elementor-element-f68a08a
    .elementskit-section-title-wraper
    .elementskit-border-divider:before {
    background-color: #cf1224;
    color: #cf1224;
}
.elementor-2874
    .elementor-element.elementor-element-f68a08a
    .elementskit-section-title-wraper
    .elementskit-border-star:after {
    background-color: #cf1224;
}
.elementor-2874
    .elementor-element.elementor-element-f68a08a
    > .elementor-widget-container {
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874
    .elementor-element.elementor-element-0a35d72
    .elementor-counter-number-wrapper {
    color: #cf1224;
    font-family: "Roboto", Sans-serif;
    font-size: 41px;
    font-weight: 400;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}
.elementor-2874
    .elementor-element.elementor-element-0a35d72
    .elementor-counter-title {
    color: #454545;
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}
.elementor-2874
    .elementor-element.elementor-element-d43f0ab
    .elementor-counter-number-wrapper {
    color: #cf1224;
    font-family: "Roboto", Sans-serif;
    font-size: 41px;
    font-weight: 400;
}
.elementor-2874
    .elementor-element.elementor-element-d43f0ab
    .elementor-counter-title {
    color: #454545;
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}
.elementor-2874
    .elementor-element.elementor-element-dceb8cc
    .elementor-counter-number-wrapper {
    color: #cf1224;
    font-family: "Roboto", Sans-serif;
    font-size: 41px;
    font-weight: 400;
}
.elementor-2874
    .elementor-element.elementor-element-dceb8cc
    .elementor-counter-title {
    color: #454545;
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}
.elementor-2874
    .elementor-element.elementor-element-4168a3b
    .elementor-counter-number-wrapper {
    color: #cf1224;
    font-family: "Roboto", Sans-serif;
    font-size: 41px;
    font-weight: 400;
}
.elementor-2874
    .elementor-element.elementor-element-4168a3b
    .elementor-counter-title {
    color: #454545;
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}
.elementor-2874
    .elementor-element.elementor-element-128e699
    .elementskit-section-title-wraper
    .elementskit-section-title {
    font-family: "Jost", Sans-serif;
}
.elementor-2874
    .elementor-element.elementor-element-128e699
    .elementskit-section-title-wraper
    .elementskit-section-title
    > span {
    color: #000000;
}
.elementor-2874
    .elementor-element.elementor-element-128e699
    .elementskit-section-title-wraper
    .elementskit-section-title:hover
    > span {
    color: #000000;
}
.elementor-2874
    .elementor-element.elementor-element-128e699
    .elementskit-section-title-wraper
    .elementskit-section-subtitle {
    color: #000000;
    font-family: "Jost", Sans-serif;
}
.elementor-2874
    .elementor-element.elementor-element-128e699
    .elementskit-section-title-wraper
    .elementskit-border-divider {
    width: 100px;
    background: linear-gradient(90deg, #cf1224 0%, #cf1224 100%);
}
.elementor-2874
    .elementor-element.elementor-element-128e699
    .elementskit-section-title-wraper
    .elementskit-border-divider.elementskit-style-long {
    width: 100px;
    height: 4px;
    color: #cf1224;
}
.elementor-2874
    .elementor-element.elementor-element-128e699
    .elementskit-section-title-wraper
    .elementskit-border-star {
    width: 100px;
    height: 4px;
    color: #cf1224;
}
.elementor-2874
    .elementor-element.elementor-element-128e699
    .elementskit-section-title-wraper
    .elementskit-border-divider,
.elementor-2874
    .elementor-element.elementor-element-128e699
    .elementskit-border-divider::before {
    height: 4px;
}
.elementor-2874
    .elementor-element.elementor-element-128e699
    .elementskit-section-title-wraper
    .elementskit-border-divider:before {
    background-color: #cf1224;
    color: #cf1224;
}
.elementor-2874
    .elementor-element.elementor-element-128e699
    .elementskit-section-title-wraper
    .elementskit-border-star:after {
    background-color: #cf1224;
}
.elementor-2874
    .elementor-element.elementor-element-128e699
    > .elementor-widget-container {
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-2874
    .elementor-element.elementor-element-d4030a5
    .elementor-counter-number-wrapper {
    color: #cf1224;
    font-family: "Roboto", Sans-serif;
    font-size: 41px;
    font-weight: 400;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}
.elementor-2874
    .elementor-element.elementor-element-d4030a5
    .elementor-counter-title {
    color: #454545;
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}
.elementor-2874
    .elementor-element.elementor-element-63575b1
    .elementor-counter-number-wrapper {
    color: #cf1224;
    font-family: "Roboto", Sans-serif;
    font-size: 41px;
    font-weight: 400;
}
.elementor-2874
    .elementor-element.elementor-element-63575b1
    .elementor-counter-title {
    color: #454545;
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}
.elementor-2874
    .elementor-element.elementor-element-d54aa8d
    .elementor-counter-number-wrapper {
    color: #cf1224;
    font-family: "Roboto", Sans-serif;
    font-size: 41px;
    font-weight: 400;
}
.elementor-2874
    .elementor-element.elementor-element-d54aa8d
    .elementor-counter-title {
    color: #454545;
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}
.elementor-2874
    .elementor-element.elementor-element-a92c3f1
    .elementor-counter-number-wrapper {
    color: #cf1224;
    font-family: "Roboto", Sans-serif;
    font-size: 41px;
    font-weight: 400;
}
.elementor-2874
    .elementor-element.elementor-element-a92c3f1
    .elementor-counter-title {
    color: #454545;
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}
@media (max-width: 1024px) {
    .elementor-2874
        .elementor-element.elementor-element-a2889fa
        .elementor-heading-title {
        font-size: 3rem;
    }
    .elementor-2874
        .elementor-element.elementor-element-de86b73
        > .elementor-element-populated {
        margin: 15px 15px 15px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
    .elementor-2874
        .elementor-element.elementor-element-349a37a
        > .elementor-element-populated {
        margin: 15px 15px 15px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
    .elementor-2874
        .elementor-element.elementor-element-e0cb4ce
        > .elementor-element-populated {
        margin: 15px 15px 15px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
    .elementor-2874
        .elementor-element.elementor-element-2841ad8
        .elementor-heading-title {
        font-size: 3rem;
    }
    .elementor-2874
        .elementor-element.elementor-element-bc9b9c9
        > .elementor-element-populated {
        margin: 15px 15px 15px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
    .elementor-2874
        .elementor-element.elementor-element-9291e57
        > .elementor-element-populated {
        margin: 15px 15px 15px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
    .elementor-2874
        .elementor-element.elementor-element-7f82dee
        > .elementor-element-populated {
        margin: 15px 15px 15px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
}
@media (max-width: 767px) {
    .elementor-2874
        .elementor-element.elementor-element-c79d889
        .elementskit-section-title-wraper
        .elementskit-border-divider {
        background: linear-gradient(90deg, #cf1224 0%, #cf1224 100%);
    }
    .elementor-2874
        .elementor-element.elementor-element-c79d889
        .elementskit-section-title-wraper
        .elementskit-border-divider:before {
        background-color: #cf1224;
        color: #cf1224;
    }
    .elementor-2874
        .elementor-element.elementor-element-c79d889
        .elementskit-section-title-wraper
        .elementskit-border-divider.elementskit-style-long {
        color: #cf1224;
    }
    .elementor-2874
        .elementor-element.elementor-element-c79d889
        .elementskit-section-title-wraper
        .elementskit-border-star {
        color: #cf1224;
    }
    .elementor-2874
        .elementor-element.elementor-element-c79d889
        .elementskit-section-title-wraper
        .elementskit-border-star:after {
        background-color: #cf1224;
    }
    .elementor-2874
        .elementor-element.elementor-element-c79d889
        > .elementor-widget-container {
        margin: 0px 40px 0px 40px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2874 .elementor-element.elementor-element-dab3610 img {
        border-radius: 20px 20px 20px 20px;
    }
    .elementor-2874
        .elementor-element.elementor-element-b2123f7
        .elementskit-btn {
        padding: 10px 12px 10px 12px;
        border-radius: 90px 90px 90px 90px;
    }
    .elementor-2874 .elementor-element.elementor-element-83425b3 img {
        border-radius: 20px 20px 20px 20px;
    }
    .elementor-2874
        .elementor-element.elementor-element-edc5136
        .elementskit-btn {
        padding: 10px 12px 10px 12px;
    }
    .elementor-2874 .elementor-element.elementor-element-e210574 img {
        border-radius: 20px 20px 20px 20px;
    }
    .elementor-2874
        .elementor-element.elementor-element-4bf474b
        .elementskit-btn {
        padding: 10px 12px 10px 12px;
    }
    .elementor-2874 .elementor-element.elementor-element-e87659d img {
        border-radius: 20px 20px 20px 20px;
    }
    .elementor-2874
        .elementor-element.elementor-element-ec01098
        .elementskit-btn {
        padding: 10px 12px 10px 12px;
    }
    .elementor-2874 .elementor-element.elementor-element-458f54b img {
        border-radius: 20px 20px 20px 20px;
    }
    .elementor-2874
        .elementor-element.elementor-element-ecd1aa2
        .elementskit-btn {
        padding: 10px 12px 10px 12px;
    }
    .elementor-2874 .elementor-element.elementor-element-9c8ff7b img {
        border-radius: 20px 20px 20px 20px;
    }
    .elementor-2874
        .elementor-element.elementor-element-e823990
        .elementskit-btn {
        padding: 10px 12px 10px 12px;
    }
    .elementor-2874 .elementor-element.elementor-element-24b1a12 img {
        border-radius: 20px 20px 20px 20px;
    }
    .elementor-2874
        .elementor-element.elementor-element-010c15f
        .elementskit-btn {
        padding: 10px 12px 10px 12px;
    }
    .elementor-2874 .elementor-element.elementor-element-efd064c {
        padding: 40px 0px 40px 0px;
    }
    .elementor-2874
        .elementor-element.elementor-element-01c23b3
        .elementor-heading-title {
        font-size: 0.75rem;
    }
    .elementor-2874
        .elementor-element.elementor-element-a2889fa
        .elementor-heading-title {
        font-size: 2.5rem;
    }
    .elementor-2874
        .elementor-element.elementor-element-04d8ef4
        .elementor-divider {
        text-align: center;
    }
    .elementor-2874
        .elementor-element.elementor-element-04d8ef4
        .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }
    .elementor-2874 .elementor-element.elementor-element-e2100e8 {
        text-align: center;
    }
    .elementor-2874
        .elementor-element.elementor-element-e2100e8
        .elementor-heading-title {
        font-size: 1rem;
    }
    .elementor-2874
        .elementor-element.elementor-element-de86b73
        > .elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2874 .elementor-element.elementor-element-7b7d380 img {
        border-radius: 20px 20px 20px 20px;
    }
    .elementor-2874
        .elementor-element.elementor-element-349a37a
        > .elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2874 .elementor-element.elementor-element-a394b81 img {
        border-radius: 20px 20px 20px 20px;
    }
    .elementor-2874
        .elementor-element.elementor-element-e0cb4ce
        > .elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2874 .elementor-element.elementor-element-4ed6a73 img {
        border-radius: 20px 20px 20px 20px;
    }
    .elementor-2874 .elementor-element.elementor-element-2b06ea3 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2874
        .elementor-element.elementor-element-b7988d8
        .elementor-heading-title {
        font-size: 0.75rem;
    }
    .elementor-2874
        .elementor-element.elementor-element-2841ad8
        .elementor-heading-title {
        font-size: 2.5rem;
    }
    .elementor-2874
        .elementor-element.elementor-element-54ff2b9
        .elementor-divider {
        text-align: center;
    }
    .elementor-2874
        .elementor-element.elementor-element-54ff2b9
        .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }
    .elementor-2874 .elementor-element.elementor-element-042deaf {
        text-align: center;
    }
    .elementor-2874
        .elementor-element.elementor-element-042deaf
        .elementor-heading-title {
        font-size: 1rem;
    }
    .elementor-2874
        .elementor-element.elementor-element-bc9b9c9
        > .elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2874 .elementor-element.elementor-element-342388f img {
        border-radius: 20px 20px 20px 20px;
    }
    .elementor-2874
        .elementor-element.elementor-element-342388f
        > .elementor-widget-container {
        margin: 0px 40px 0px 40px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2874 .elementor-element.elementor-element-18db932 {
        text-align: center;
    }
    .elementor-2874
        .elementor-element.elementor-element-18db932
        .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-2874
        .elementor-element.elementor-element-9291e57
        > .elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2874 .elementor-element.elementor-element-217cb35 img {
        border-radius: 20px 20px 20px 20px;
    }
    .elementor-2874
        .elementor-element.elementor-element-217cb35
        > .elementor-widget-container {
        margin: 0px 40px 0px 40px;
    }
    .elementor-2874 .elementor-element.elementor-element-8a7a847 {
        text-align: center;
    }
    .elementor-2874
        .elementor-element.elementor-element-8a7a847
        .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-2874
        .elementor-element.elementor-element-7f82dee
        > .elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2874 .elementor-element.elementor-element-5503e01 img {
        border-radius: 20px 20px 20px 20px;
    }
    .elementor-2874
        .elementor-element.elementor-element-5503e01
        > .elementor-widget-container {
        margin: 0px 40px 0px 40px;
    }
    .elementor-2874 .elementor-element.elementor-element-e01d459 {
        text-align: center;
    }
    .elementor-2874
        .elementor-element.elementor-element-e01d459
        .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-2874 .elementor-element.elementor-element-0142147 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2874
        .elementor-element.elementor-element-f68a08a
        > .elementor-widget-container {
        margin: 0px 0px 40px 0px;
    }
    .elementor-2874 .elementor-element.elementor-element-51aa3eb {
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2874 .elementor-element.elementor-element-cc7148d {
        width: 50%;
    }
    .elementor-2874
        .elementor-element.elementor-element-0a35d72
        .elementor-counter-number-wrapper {
        font-size: 31px;
    }
    .elementor-2874
        .elementor-element.elementor-element-0a35d72
        .elementor-counter-title {
        font-size: 15px;
    }
    .elementor-2874 .elementor-element.elementor-element-811e728 {
        width: 50%;
    }
    .elementor-2874
        .elementor-element.elementor-element-d43f0ab
        .elementor-counter-number-wrapper {
        font-size: 31px;
    }
    .elementor-2874
        .elementor-element.elementor-element-d43f0ab
        .elementor-counter-title {
        font-size: 14px;
    }
    .elementor-2874 .elementor-element.elementor-element-6df1727 {
        width: 50%;
    }
    .elementor-2874
        .elementor-element.elementor-element-dceb8cc
        .elementor-counter-number-wrapper {
        font-size: 31px;
    }
    .elementor-2874
        .elementor-element.elementor-element-dceb8cc
        .elementor-counter-title {
        font-size: 14px;
    }
    .elementor-2874 .elementor-element.elementor-element-43ba5fe {
        width: 50%;
    }
    .elementor-2874
        .elementor-element.elementor-element-4168a3b
        .elementor-counter-number-wrapper {
        font-size: 31px;
    }
    .elementor-2874
        .elementor-element.elementor-element-4168a3b
        .elementor-counter-title {
        font-size: 14px;
    }
    .elementor-2874 .elementor-element.elementor-element-ec989d8 {
        margin-top: 0px;
        margin-bottom: 50px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2874
        .elementor-element.elementor-element-128e699
        > .elementor-widget-container {
        margin: 0px 0px 40px 0px;
    }
    .elementor-2874 .elementor-element.elementor-element-dc5a45f {
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2874 .elementor-element.elementor-element-238debd {
        width: 50%;
    }
    .elementor-2874
        .elementor-element.elementor-element-d4030a5
        .elementor-counter-number-wrapper {
        font-size: 31px;
    }
    .elementor-2874
        .elementor-element.elementor-element-d4030a5
        .elementor-counter-title {
        font-size: 15px;
    }
    .elementor-2874 .elementor-element.elementor-element-3c269f9 {
        width: 50%;
    }
    .elementor-2874
        .elementor-element.elementor-element-63575b1
        .elementor-counter-number-wrapper {
        font-size: 31px;
    }
    .elementor-2874
        .elementor-element.elementor-element-63575b1
        .elementor-counter-title {
        font-size: 14px;
    }
    .elementor-2874 .elementor-element.elementor-element-dd83770 {
        width: 50%;
    }
    .elementor-2874
        .elementor-element.elementor-element-d54aa8d
        .elementor-counter-number-wrapper {
        font-size: 31px;
    }
    .elementor-2874
        .elementor-element.elementor-element-d54aa8d
        .elementor-counter-title {
        font-size: 14px;
    }
    .elementor-2874 .elementor-element.elementor-element-f67f29f {
        width: 50%;
    }
    .elementor-2874
        .elementor-element.elementor-element-a92c3f1
        .elementor-counter-number-wrapper {
        font-size: 31px;
    }
    .elementor-2874
        .elementor-element.elementor-element-a92c3f1
        .elementor-counter-title {
        font-size: 14px;
    }
}
