.elementor-227
    .elementor-element.elementor-element-21c482c6:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-227
    .elementor-element.elementor-element-21c482c6
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-227
    .elementor-element.elementor-element-21c482c6
    > .elementor-background-overlay {
    opacity: 0.87;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-227 .elementor-element.elementor-element-21c482c6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 2;
}
.elementor-227
    .elementor-element.elementor-element-32190088
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-227
    .elementor-element.elementor-element-14a8b8d
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
}
.elementor-bc-flex-widget
    .elementor-227
    .elementor-element.elementor-element-467a6.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-227
    .elementor-element.elementor-element-467a6.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-227
    .elementor-element.elementor-element-467a6
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-menu-container {
    height: 30px;
    border-radius: 0px 0px 0px 0px;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    > li
    > a {
    font-family: "Jost", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #b59d9d00;
    color: #454545;
    padding: 0px 15px 0px 15px;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    > li
    > a:hover {
    color: #001f4b;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    > li
    > a:focus {
    color: #cf1224;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    > li
    > a:active {
    color: #cf1224;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    > li:hover
    > a {
    color: #ff6e00;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    > li:hover
    > a
    .elementskit-submenu-indicator {
    color: #03dbfc;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    > li
    > a:hover
    .elementskit-submenu-indicator {
    color: #ff6e00;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    > li
    > a:focus
    .elementskit-submenu-indicator {
    color: #cf1224;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    > li
    > a:active
    .elementskit-submenu-indicator {
    color: #cf1224;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    > li.current-menu-item
    > a {
    color: #454545;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    > li.current-menu-ancestor
    > a {
    color: #454545;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    > li.current-menu-ancestor
    > a
    .elementskit-submenu-indicator {
    color: #454545;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li
    > a {
    font-family: "Jost", Sans-serif;
    font-weight: 500;
    padding: 8px 8px 8px 8px;
    color: #454545;
    border-style: none;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li
    > a:hover {
    color: #cf1224;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li
    > a:focus {
    color: #cf1224;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li
    > a:active {
    color: #cf1224;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li:hover
    > a {
    color: #ff6e00;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li
    > a:hover,
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li
    > a:focus,
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li
    > a:active,
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li:hover
    > a {
    background-color: #02010100;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li.current-menu-item
    > a {
    color: #454545 !important;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li:last-child
    > a {
    border-style: none;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li:first-child
    > a {
    border-style: none;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-submenu-panel {
    padding: 20px 05px 10px 05px;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-navbar-nav
    .elementskit-submenu-panel {
    border-style: none;
    background-color: #ffffff;
    border-radius: 0px 0px 0px 0px;
    min-width: 280px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-menu-hamburger {
    float: right;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-menu-hamburger
    .elementskit-menu-hamburger-icon {
    background-color: #000000;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-menu-hamburger
    > .ekit-menu-icon {
    color: #000000;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-menu-hamburger:hover
    .elementskit-menu-hamburger-icon {
    background-color: rgba(0, 0, 0, 0.5);
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-menu-hamburger:hover
    > .ekit-menu-icon {
    color: rgba(0, 0, 0, 0.5);
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-menu-close {
    color: #000000;
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    .elementskit-menu-close:hover {
    color: rgba(0, 0, 0, 0.5);
}
.elementor-227
    .elementor-element.elementor-element-2b555461
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
    .elementor-227
    .elementor-element.elementor-element-e021e38.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-227
    .elementor-element.elementor-element-e021e38.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-227
    .elementor-element.elementor-element-e021e38
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-227 .elementor-element.elementor-element-90aa76f .elementor-button {
    background-color: #001f4b;
}
.elementor-227
    .elementor-element.elementor-element-90aa76f
    .elementor-button:hover,
.elementor-227
    .elementor-element.elementor-element-90aa76f
    .elementor-button:focus {
    background-color: #ff6e00;
}
.elementor-bc-flex-widget
    .elementor-227
    .elementor-element.elementor-element-03a34b0.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-227
    .elementor-element.elementor-element-03a34b0.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-227
    .elementor-element.elementor-element-03a34b0
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-bc-flex-widget
    .elementor-227
    .elementor-element.elementor-element-b98d990.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-227
    .elementor-element.elementor-element-b98d990.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-227
    .elementor-element.elementor-element-b98d990
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-227
    .elementor-element.elementor-element-382f12a7
    > .elementor-container
    > .elementor-column
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-227
    .elementor-element.elementor-element-382f12a7:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-227
    .elementor-element.elementor-element-382f12a7
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-227 .elementor-element.elementor-element-382f12a7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 2;
}
.elementor-227
    .elementor-element.elementor-element-382f12a7
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
    .elementor-227
    .elementor-element.elementor-element-641ddf6b.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-227
    .elementor-element.elementor-element-641ddf6b.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-menu-container {
    height: 80px;
    border-radius: 0px 0px 0px 0px;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    > li
    > a {
    color: #000000;
    padding: 0px 15px 0px 15px;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    > li
    > a:hover {
    color: #707070;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    > li
    > a:focus {
    color: #707070;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    > li
    > a:active {
    color: #707070;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    > li:hover
    > a {
    color: #707070;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    > li:hover
    > a
    .elementskit-submenu-indicator {
    color: #707070;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    > li
    > a:hover
    .elementskit-submenu-indicator {
    color: #707070;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    > li
    > a:focus
    .elementskit-submenu-indicator {
    color: #707070;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    > li
    > a:active
    .elementskit-submenu-indicator {
    color: #707070;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    > li.current-menu-item
    > a {
    color: #707070;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    > li.current-menu-ancestor
    > a {
    color: #707070;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    > li.current-menu-ancestor
    > a
    .elementskit-submenu-indicator {
    color: #707070;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    > li
    > a
    .elementskit-submenu-indicator {
    color: #101010;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li
    > a {
    padding: 15px 15px 15px 15px;
    color: #000000;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li
    > a:hover {
    color: #707070;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li
    > a:focus {
    color: #707070;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li
    > a:active {
    color: #707070;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li:hover
    > a {
    color: #707070;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li.current-menu-item
    > a {
    color: #707070 !important;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-submenu-panel {
    padding: 15px 0px 15px 0px;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-navbar-nav
    .elementskit-submenu-panel {
    border-radius: 0px 0px 0px 0px;
    min-width: 220px;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-menu-hamburger {
    float: right;
    background-color: #ffffff;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-menu-hamburger
    .elementskit-menu-hamburger-icon {
    background-color: #000000;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-menu-hamburger
    > .ekit-menu-icon {
    color: #000000;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-menu-hamburger:hover {
    background-color: #d1d1d1;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-menu-hamburger:hover
    .elementskit-menu-hamburger-icon {
    background-color: #141414;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-menu-hamburger:hover
    > .ekit-menu-icon {
    color: #141414;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-menu-close {
    background-color: #292727;
    color: #ffffff;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    .elementskit-menu-close:hover {
    background-color: #1f1e1e;
    color: #ba9f51;
}
.elementor-227
    .elementor-element.elementor-element-55aaa1ab
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
    .elementor-227
    .elementor-element.elementor-element-4b2616e5.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-227
    .elementor-element.elementor-element-4b2616e5.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-227 .elementor-element.elementor-element-632cde9d .elementor-button {
    font-family: "Jost", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #001f4b;
}
.elementor-227
    .elementor-element.elementor-element-632cde9d
    .elementor-button:hover,
.elementor-227
    .elementor-element.elementor-element-632cde9d
    .elementor-button:focus {
    color: #000000;
    background-color: #d9515e;
}
.elementor-227
    .elementor-element.elementor-element-632cde9d
    .elementor-button:hover
    svg,
.elementor-227
    .elementor-element.elementor-element-632cde9d
    .elementor-button:focus
    svg {
    fill: #000000;
}
@media (min-width: 768px) {
    .elementor-227 .elementor-element.elementor-element-32190088 {
        width: 15%;
    }
    .elementor-227 .elementor-element.elementor-element-467a6 {
        width: 70%;
    }
    .elementor-227 .elementor-element.elementor-element-e021e38 {
        width: 15%;
    }
    .elementor-227 .elementor-element.elementor-element-03a34b0 {
        width: 5%;
    }
    .elementor-227 .elementor-element.elementor-element-b98d990 {
        width: 5%;
    }
    .elementor-227 .elementor-element.elementor-element-641ddf6b {
        width: 71.755%;
    }
    .elementor-227 .elementor-element.elementor-element-484b7f1e {
        width: 14.035%;
    }
    .elementor-227 .elementor-element.elementor-element-4b2616e5 {
        width: 13.874%;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-227 .elementor-element.elementor-element-32190088 {
        width: 70%;
    }
    .elementor-227 .elementor-element.elementor-element-467a6 {
        width: 70%;
    }
    .elementor-227 .elementor-element.elementor-element-e021e38 {
        width: 70%;
    }
    .elementor-227 .elementor-element.elementor-element-03a34b0 {
        width: 70%;
    }
    .elementor-227 .elementor-element.elementor-element-b98d990 {
        width: 70%;
    }
    .elementor-227 .elementor-element.elementor-element-641ddf6b {
        width: 15%;
    }
    .elementor-227 .elementor-element.elementor-element-484b7f1e {
        width: 70%;
    }
    .elementor-227 .elementor-element.elementor-element-4b2616e5 {
        width: 15%;
    }
}
@media (max-width: 1024px) {
    .elementor-227
        .elementor-element.elementor-element-2b555461
        .elementskit-nav-identity-panel {
        padding: 10px 0px 10px 0px;
    }
    .elementor-227
        .elementor-element.elementor-element-2b555461
        .elementskit-menu-container {
        max-width: 350px;
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-227
        .elementor-element.elementor-element-2b555461
        .elementskit-navbar-nav
        > li
        > a {
        color: #000000;
        padding: 10px 15px 10px 15px;
    }
    .elementor-227
        .elementor-element.elementor-element-2b555461
        .elementskit-navbar-nav
        .elementskit-submenu-panel
        > li
        > a {
        padding: 15px 15px 15px 15px;
    }
    .elementor-227
        .elementor-element.elementor-element-2b555461
        .elementskit-navbar-nav
        .elementskit-submenu-panel {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-227
        .elementor-element.elementor-element-2b555461
        .elementskit-menu-hamburger {
        padding: 8px 8px 8px 8px;
        width: 45px;
        border-radius: 3px;
    }
    .elementor-227
        .elementor-element.elementor-element-2b555461
        .elementskit-menu-close {
        padding: 8px 8px 8px 8px;
        margin: 12px 12px 12px 12px;
        width: 45px;
        border-radius: 3px;
    }
    .elementor-227
        .elementor-element.elementor-element-2b555461
        .elementskit-nav-logo
        > img {
        max-width: 160px;
        max-height: 60px;
    }
    .elementor-227
        .elementor-element.elementor-element-2b555461
        .elementskit-nav-logo {
        margin: 5px 0px 5px 0px;
        padding: 5px 5px 5px 5px;
    }
    .elementor-227
        .elementor-element.elementor-element-641ddf6b
        > .elementor-element-populated {
        margin: 0px 30px 0px 0px;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-nav-identity-panel {
        padding: 0px 0px 0px 0px;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-menu-container {
        max-width: 350px;
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        > li
        > a {
        color: #000000;
        padding: 10px 15px 10px 15px;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        .elementskit-submenu-panel
        > li
        > a {
        padding: 10px 15px 10px 15px;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        .elementskit-submenu-panel {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-menu-hamburger {
        padding: 8px 8px 8px 8px;
        width: 45px;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-menu-close {
        padding: 8px 8px 8px 8px;
        margin: 12px 12px 12px 12px;
        width: 45px;
        border-radius: 0px;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-nav-logo
        > img {
        max-width: 160px;
        max-height: 60px;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-nav-logo {
        margin: 5px 0px 5px 0px;
        padding: 5px 5px 5px 5px;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        > .elementor-widget-container {
        margin: 0px 30px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-227
        .elementor-element.elementor-element-6e475ee5
        > .elementor-widget-container {
        margin: 10px 280px 10px 280px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-227
        .elementor-element.elementor-element-632cde9d
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}
@media (max-width: 767px) {
    .elementor-227
        .elementor-element.elementor-element-2b555461
        .elementskit-nav-logo
        > img {
        max-width: 120px;
        max-height: 50px;
    }
    .elementor-227 .elementor-element.elementor-element-382f12a7 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-227 .elementor-element.elementor-element-641ddf6b {
        width: 35%;
    }
    .elementor-bc-flex-widget
        .elementor-227
        .elementor-element.elementor-element-641ddf6b.elementor-column
        .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-227
        .elementor-element.elementor-element-641ddf6b.elementor-column.elementor-element[data-element_type="column"]
        > .elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-227
        .elementor-element.elementor-element-641ddf6b
        > .elementor-element-populated {
        margin: 0px 15px 0px 0px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        > li
        > a:hover {
        color: #001f4b;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        > li
        > a:focus {
        color: #cf1224;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        > li
        > a:active {
        color: #cf1224;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        > li:hover
        > a {
        color: #001f4b;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        > li:hover
        > a
        .elementskit-submenu-indicator {
        color: #001f4b;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        > li
        > a:hover
        .elementskit-submenu-indicator {
        color: #001f4b;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        > li
        > a:focus
        .elementskit-submenu-indicator {
        color: #cf1224;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        > li
        > a:active
        .elementskit-submenu-indicator {
        color: #001f4b;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        .elementskit-submenu-panel
        > li
        > a {
        color: #454545;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        .elementskit-submenu-panel
        > li
        > a:hover {
        color: #cf1224;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        .elementskit-submenu-panel
        > li
        > a:focus {
        color: #cf1224;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        .elementskit-submenu-panel
        > li
        > a:active {
        color: #cf1224;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        .elementskit-submenu-panel
        > li:hover
        > a {
        color: #cf1224;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-navbar-nav
        .elementskit-submenu-panel
        > li.current-menu-item
        > a {
        color: #454545 !important;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        .elementskit-nav-logo
        > img {
        max-width: 100px;
        max-height: 60px;
    }
    .elementor-227
        .elementor-element.elementor-element-55aaa1ab
        > .elementor-widget-container {
        margin: 0px 50px 0px 0px;
    }
    .elementor-227 .elementor-element.elementor-element-484b7f1e {
        width: 30%;
    }
    .elementor-bc-flex-widget
        .elementor-227
        .elementor-element.elementor-element-484b7f1e.elementor-column
        .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-227
        .elementor-element.elementor-element-484b7f1e.elementor-column.elementor-element[data-element_type="column"]
        > .elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-227
        .elementor-element.elementor-element-6e475ee5
        > .elementor-widget-container {
        margin: 0px 0px 5px 0px;
        padding: 05px 0px 05px 0px;
    }
    .elementor-227 .elementor-element.elementor-element-4b2616e5 {
        width: 35%;
    }
    .elementor-bc-flex-widget
        .elementor-227
        .elementor-element.elementor-element-4b2616e5.elementor-column
        .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-227
        .elementor-element.elementor-element-4b2616e5.elementor-column.elementor-element[data-element_type="column"]
        > .elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-227
        .elementor-element.elementor-element-632cde9d
        .elementor-button {
        font-size: 12px;
        padding: 8px 8px 8px 8px;
    }
    .elementor-227
        .elementor-element.elementor-element-632cde9d
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}
